Repository rainbow-me/rainbow, pull requests merged in 2023-12, with the labels that each got.

#5227 [APP-883]: Fix scroll issue on discover search
  src/navigation/SwipeNavigator.js
  src/screens/discover/components/DiscoverSearch.js
Labels: release

#5226 tx sim: enable zora
  src/screens/SignTransactionSheet.tsx
Labels: release

#5224 tx sim: warnings
  src/languages/en_US.json
  src/screens/SignTransactionSheet.tsx
Labels: release

#5262 lint
  CHANGELOG.md
Labels: release

#5243 Points: Fix total points not updating when switching wallets [ANDROID]
  src/screens/points/content/PointsContent.tsx
Labels: rainbow points

#5244 Points: fix keyboard hiding "get started" button after deeplink
  src/screens/points/content/ReferralContent.tsx
Labels: rainbow points

#5249 Points: rm rainbow emojis from tweet intent
  src/screens/points/constants.ts
Labels: rainbow points

#5250 [APP-1004]: Hide referral section on watched wallets
  src/screens/points/content/PointsContent.tsx
Labels: rainbow points

#5257 Points: Fix onboarding error
  src/screens/points/contexts/PointsProfileContext.tsx
Labels: rainbow points

#5258 [APP-998]: Fix for leaderboard formatting issue
  src/screens/points/components/LeaderboardRow.tsx
Labels: rainbow points

#5259 Points: Tweak rank card formatting
  src/helpers/utilities.ts
  src/screens/points/content/PointsContent.tsx
Labels: rainbow points

#5252 [APP-1007]: Add parse ref code from ref link
  src/screens/points/content/ReferralContent.tsx
Labels: rainbow points

#5263 Points: date formatting in next drop card
  src/languages/en_US.json
  src/screens/points/constants.ts
Labels: rainbow points

#5261 add points check fn and enable remote config promo sheets
  src/components/remote-promo-sheet/RemotePromoSheetProvider.tsx
  src/components/remote-promo-sheet/check-fns/hasOnboardedPoints.ts
  src/components/remote-promo-sheet/check-fns/index.ts
  src/model/config.ts
Labels: rainbow points

#5265 Points: format large numbers in rank card
  src/languages/en_US.json
  src/screens/points/components/InfoCard.tsx
  src/screens/points/content/PointsContent.tsx
Labels: rainbow points

#5260 Points: points query fixes
  src/resources/points.ts
  src/screens/points/contexts/PointsProfileContext.tsx
Labels: rainbow points

#5251 Points: some number formatting
  src/screens/points/constants.ts
Labels: rainbow points

#5247 swaps: revert entry point
  src/components/asset-list/RecyclerAssetList2/profile-header/ProfileActionButtonsRow.tsx
  src/components/sheet/sheet-action-buttons/SwapActionButton.js
  src/screens/ExchangeModal.tsx
Labels: release

#5246 [APP-860]: Add debug logs for cross-chain bug discovery
  src/hooks/useSwapDerivedOutputs.ts
Labels: release

#5270 NFTs: sort
  src/components/asset-list/RecyclerAssetList2/WrappedCollectiblesHeader.tsx
  src/components/asset-list/RecyclerAssetList2/core/RowRenderer.tsx
  src/components/asset-list/RecyclerAssetList2/core/ViewTypes.ts
  src/components/asset-list/RecyclerAssetList2/core/useMemoBriefSectionData.ts
  src/components/list/ListHeaderMenu.tsx
  src/entities/uniqueAssets.ts
  src/helpers/assets.ts
  src/helpers/buildWalletSections.tsx
  src/hooks/useNFTsSortBy.ts
  src/hooks/useWalletSectionsData.ts
  src/languages/en_US.json
  src/resources/nfts/index.ts
  src/resources/nfts/simplehash/utils.ts
Labels: nice for release

#5268 Points: refactor signIn
  src/screens/points/contexts/PointsProfileContext.tsx
Labels: release, rainbow points

#5278 fix www.rainbow.me not being parsed from ref links
  src/screens/points/content/ReferralContent.tsx
Labels: release, rainbow points

#5279 Points: handle NO_BALANCE error type + unknown error types during signIn
  src/languages/en_US.json
  src/screens/points/contexts/PointsProfileContext.tsx
Labels: release, rainbow points

#5280 Points: fix tweet intent
  src/screens/points/constants.ts
Labels: release, rainbow points

#5281 Points: block read-only wallets from onboarding after deeplinking
  src/screens/points/content/ReferralContent.tsx
Labels: release, rainbow points

#5271 [APP-171]: Fix camera staying on issue
  src/components/qrcode-scanner/QRCodeScanner.tsx
  src/screens/QRScannerScreen.tsx
Labels: release

#5293 Points: UI for "unranked" users
  src/graphql/queries/metadata.graphql
  src/languages/en_US.json
  src/screens/points/components/InfoCard.tsx
  src/screens/points/content/PointsContent.tsx
Labels: release, rainbow points

#5297 remote config overhaul
  index.js
  src/App.js
  src/components/asset-list/RecyclerAssetList2/profile-header/ProfileActionButtonsRow.tsx
  src/components/cards/EthCard.tsx
  src/components/expanded-state/asset/ChartExpandedState.js
  src/components/expanded-state/swap-details/SwapDetailsContent.js
  src/components/remote-promo-sheet/RemotePromoSheetProvider.tsx
  src/handlers/nftOffers.ts
  src/handlers/swap.ts
  src/handlers/web3.ts
  src/model/remoteConfig.ts
  src/navigation/SwipeNavigator.js
  src/networks/README.md
  src/networks/arbitrum.ts
  src/networks/base.ts
  src/networks/bsc.ts
  src/networks/gnosis.ts
  src/networks/goerli.ts
  src/networks/mainnet.ts
  src/networks/optimism.ts
  src/networks/polygon.ts
  src/networks/zora.ts
  src/redux/explorer.ts
  src/resources/mints.ts
  src/resources/points.ts
  src/screens/ExchangeModal.tsx
  src/screens/TransactionConfirmationScreen.js
  src/screens/discover/components/DiscoverHome.js
  src/screens/points/PointsScreen.tsx
Labels: release

#5302 Add 3s limit when awaiting remote config
  src/model/remoteConfig.ts
Labels: release
