Repository rainbow-me/rainbow, pull requests merged in 2024-07, with the labels that each got.

#5906 sort native network token to top of list
  src/__swaps__/screens/Swap/hooks/useSearchCurrencyLists.ts
  src/__swaps__/screens/Swap/resources/search/index.ts
Labels: swaps v2

#5919 Prefer user asset when prefilling swap assets
  src/components/sheet/sheet-action-buttons/SwapActionButton.tsx
Labels: swaps v2

#5918 Improve decimal formatter functions
  src/__swaps__/safe-math/SafeMath.ts
  src/__swaps__/screens/Swap/__tests__/NiceIncrementerFormatter.test.disabled.ts
  src/__swaps__/screens/Swap/components/ExchangeRateBubble.tsx
  src/__swaps__/screens/Swap/hooks/useSwapInputsController.ts
  src/__swaps__/utils/__tests__/decimalFormatter.test.ts
  src/__swaps__/utils/decimalFormatter.ts
  src/__swaps__/utils/swaps.ts
Labels: swaps v2

#5923 Simplify SwapInputController animated reaction logic for responding to input value changes
  src/__swaps__/screens/Swap/hooks/useSwapInputsController.ts
Labels: swaps v2

#5932 Insufficient Gas
  src/__swaps__/screens/Swap/providers/SyncSwapStateAndSharedValues.tsx
  src/__swaps__/screens/Swap/providers/swap-provider.tsx
  src/languages/en_US.json
  src/networks/index.ts
Labels: swaps v2

#5933 Degen mode
  src/__swaps__/screens/Swap/components/ReviewPanel.tsx
  src/__swaps__/screens/Swap/hooks/useSwapNavigation.ts
  src/__swaps__/screens/Swap/hooks/useSwapSettings.ts
  src/__swaps__/screens/Swap/providers/swap-provider.tsx
  src/state/swaps/swapsStore.ts
Labels: swaps v2

#5947 Add max swappable amount on balance badge tap
  src/__swaps__/screens/Swap/components/SwapInputAsset.tsx
  src/__swaps__/screens/Swap/components/SwapOutputAsset.tsx
  src/__swaps__/screens/Swap/components/SwapSlider.tsx
  src/__swaps__/screens/Swap/hooks/useSwapInputsController.ts
Labels: swaps v2

#5913 [e2e] Manual backup e2e test
  e2e/8_manualBackup.spec.ts
  package.json
  src/components/asset-list/RecyclerAssetList2/index.tsx
  src/components/backup/BackupChooseProviderStep.tsx
  src/components/backup/BackupSheet.tsx
  src/components/secret-display/SecretDisplaySection.tsx
  src/design-system/components/Inset/Inset.tsx
  src/screens/SettingsSheet/components/Backups/BackUpMenuButton.tsx
  src/screens/SettingsSheet/components/Backups/SecretWarning.tsx
  src/screens/SettingsSheet/components/Backups/ViewWalletBackup.tsx
  src/screens/SettingsSheet/components/Backups/WalletsAndBackup.tsx
  src/screens/SettingsSheet/components/Menu.tsx
  src/screens/SettingsSheet/components/MenuHeader.tsx
  src/screens/SettingsSheet/components/MenuItem.tsx
  src/screens/SettingsSheet/components/SettingsSection.tsx
Labels: backups v2, e2e

#5920 Hold to swap button
  ios/Podfile.lock
  src/__swaps__/screens/Swap/components/GestureHandlerButton.tsx
  src/__swaps__/screens/Swap/components/GestureHandlerV1Button.tsx
  src/__swaps__/screens/Swap/components/SwapActionButton.tsx
  src/__swaps__/screens/Swap/components/SwapBottomPanel.tsx
  src/__swaps__/screens/Swap/providers/swap-provider.tsx
  src/components/DappBrowser/TabViewToolbar.tsx
  src/languages/en_US.json
Labels: swaps v2

#5963 Add Degen Mode, swap settings panel
  e2e/3_homeScreen.spec.ts
  package.json
  src/__swaps__/screens/Swap/components/AnimatedSwapCoinIcon.tsx
  src/__swaps__/screens/Swap/components/AnimatedSwitch.tsx
  src/__swaps__/screens/Swap/components/ExchangeRateBubble.tsx
  src/__swaps__/screens/Swap/components/FlipButton.tsx
  src/__swaps__/screens/Swap/components/GasButton.tsx
  src/__swaps__/screens/Swap/components/GasPanel.tsx
  src/__swaps__/screens/Swap/components/ReviewPanel.tsx
  src/__swaps__/screens/Swap/components/SearchInput.tsx
  src/__swaps__/screens/Swap/components/SearchInputButton.tsx
  src/__swaps__/screens/Swap/components/SettingsPanel.tsx
  src/__swaps__/screens/Swap/components/SwapActionButton.tsx
  src/__swaps__/screens/Swap/components/SwapBottomPanel.tsx
  src/__swaps__/screens/Swap/components/SwapInputAsset.tsx
  src/__swaps__/screens/Swap/components/SwapNavbar.tsx
  src/__swaps__/screens/Swap/components/SwapNumberPad.tsx
  src/__swaps__/screens/Swap/components/SwapOutputAsset.tsx
  src/__swaps__/screens/Swap/constants.ts
  src/__swaps__/screens/Swap/hooks/useAnimatedSwapStyles.ts
  src/__swaps__/screens/Swap/hooks/useBottomPanelGestureHandler.ts
  src/__swaps__/screens/Swap/hooks/useSwapInputsController.ts
  src/__swaps__/screens/Swap/hooks/useSwapNavigation.ts
  src/__swaps__/screens/Swap/hooks/useSwapSettings.ts
  src/__swaps__/screens/Swap/hooks/useSwapTextStyles.ts
  src/__swaps__/screens/Swap/providers/swap-provider.tsx
  src/components/DappBrowser/CloseTabButton.tsx
  src/components/DappBrowser/control-panel/ControlPanel.tsx
  src/components/DappBrowser/search-input/SearchInput.tsx
  src/components/DappBrowser/search-input/TabButton.tsx
  src/components/DappBrowser/search/results/SearchResult.tsx
  src/components/context-menu-buttons/ChainContextMenu.tsx
  src/languages/en_US.json
  src/state/assets/userAssets.ts
  src/state/swaps/swapsStore.ts
Labels: swaps v2

#5964 Fix Android browser gestures
  src/components/DappBrowser/DappBrowser.tsx
  src/components/DappBrowser/components/BrowserGestureBlocker.tsx
  src/navigation/SwipeNavigator.tsx
Labels: dapp browser

#5956 Add "recent" swaps section to token to buy list
  src/__swaps__/screens/Swap/components/TokenList/TokenToBuyList.tsx
  src/__swaps__/screens/Swap/hooks/useSearchCurrencyLists.ts
  src/__swaps__/screens/Swap/providers/swap-provider.tsx
  src/__swaps__/types/swap.ts
  src/languages/en_US.json
  src/state/swaps/swapsStore.ts
Labels: swaps v2
