Repository rainbow-me/rainbow, pull requests merged in 2024-03, with the labels that each got.

#5367 Points: Referrals card
  src/graphql/queries/metadata.graphql
  src/resources/points.ts
  src/screens/points/components/InfoCard.tsx
  src/screens/points/content/PointsContent.tsx
Labels: rainbow points

#5462 Dapp browser feature flags
  src/config/experimental.ts
  src/model/remoteConfig.ts
Labels: dapp browser

#5460 [FIX]: Increase number of pixel difference needed to qualify as non-gesture mode navigation
  package.json
  src/helpers/statusBarHelper.ts
  yarn.lock
Labels: android

#5461 Fix Android google drive login quirks
  src/components/backup/ChooseBackupStep.tsx
  src/components/backup/RestoreCloudStep.tsx
  src/components/backup/useCreateBackup.ts
  src/hooks/useCloudBackups.ts
  src/languages/en_US.json
  src/model/backup.ts
  src/navigation/AddWalletNavigator.tsx
  src/redux/wallets.ts
  src/screens/AddWalletSheet.tsx
  src/screens/RestoreSheet.tsx
  src/screens/SettingsSheet/utils.ts
  src/screens/WelcomeScreen/index.tsx
Labels: backups v2

#5470 Dapp Browser: tab setup
  src/components/icons/Icon.js
  src/components/icons/TabBarIcon.tsx
  src/components/icons/svg/TabActivity.tsx
  src/components/icons/svg/TabActivityInner.tsx
  src/components/icons/svg/TabActivityInnerFill.tsx
  src/components/icons/svg/TabDappBrowser.tsx
  src/components/icons/svg/TabDappBrowserInner.tsx
  src/components/icons/svg/TabDappBrowserInnerFill.tsx
  src/components/icons/svg/TabDiscover.tsx
  src/components/icons/svg/TabDiscoverInner.tsx
  src/components/icons/svg/TabDiscoverInnerFill.tsx
  src/components/icons/svg/TabHome.tsx
  src/components/icons/svg/TabHomeInner.tsx
  src/components/icons/svg/TabHomeInnerFill.tsx
  src/components/icons/svg/TabPoints.tsx
  src/components/icons/svg/TabPointsInner.tsx
  src/components/icons/svg/TabPointsInnerFill.tsx
  src/navigation/SwipeNavigator.js
  src/navigation/onNavigationStateChange.js
  src/navigation/routesNames.ts
  src/screens/dapp-browser/DappBrowserScreen.tsx
Labels: dapp browser

#5463 blast support
  globals.d.ts
  ios/Images.xcassets/badges/blast.imageset/Contents.json
  ios/Images.xcassets/badges/blast.imageset/blast.png
  ios/Images.xcassets/badges/blast.imageset/blast@2x.png
  ios/Images.xcassets/badges/blast.imageset/blast@3x.png
  ios/Images.xcassets/badges/blastBadge.imageset/Contents.json
  ios/Images.xcassets/badges/blastBadge.imageset/blastBadge.png
  ios/Images.xcassets/badges/blastBadge.imageset/blastBadge@2x.png
  ios/Images.xcassets/badges/blastBadge.imageset/blastBadge@3x.png
  ios/Images.xcassets/badges/blastBadgeDark.imageset/Contents.json
  ios/Images.xcassets/badges/blastBadgeDark.imageset/blastBadgeDark.png
  ios/Images.xcassets/badges/blastBadgeDark.imageset/blastBadgeDark@2x.png
  ios/Images.xcassets/badges/blastBadgeDark.imageset/blastBadgeDark@3x.png
  ios/Images.xcassets/badges/blastBadgeLarge.imageset/Contents.json
  ios/Images.xcassets/badges/blastBadgeLarge.imageset/blastBadgeLarge.png
  ios/Images.xcassets/badges/blastBadgeLarge.imageset/blastBadgeLarge@2x.png
  ios/Images.xcassets/badges/blastBadgeLarge.imageset/blastBadgeLarge@3x.png
  ios/Images.xcassets/badges/blastBadgeLargeDark.imageset/Contents.json
  ios/Images.xcassets/badges/blastBadgeLargeDark.imageset/blastBadgeLargeDark.png
  ios/Images.xcassets/badges/blastBadgeLargeDark.imageset/blastBadgeLargeDark@2x.png
  ios/Images.xcassets/badges/blastBadgeLargeDark.imageset/blastBadgeLargeDark@3x.png
  ios/Images.xcassets/badges/blastBadgeNoShadow.imageset/Contents.json
  ios/Images.xcassets/badges/blastBadgeNoShadow.imageset/blastBadgeNoShadow.png
  ios/Images.xcassets/badges/blastBadgeNoShadow.imageset/blastBadgeNoShadow@2x.png
  ios/Images.xcassets/badges/blastBadgeNoShadow.imageset/blastBadgeNoShadow@3x.png
  package.json
  src/assets/badges/blast.png
  src/assets/badges/blast@2x.png
  src/assets/badges/blast@3x.png
  src/assets/badges/blastBadge.png
  src/assets/badges/blastBadge@2x.png
  src/assets/badges/blastBadge@3x.png
  src/assets/badges/blastBadgeDark.png
  src/assets/badges/blastBadgeDark@2x.png
  src/assets/badges/blastBadgeDark@3x.png
  src/assets/badges/blastBadgeLarge.png
  src/assets/badges/blastBadgeLarge@2x.png
  src/assets/badges/blastBadgeLarge@3x.png
  src/assets/badges/blastBadgeLargeDark.png
  src/assets/badges/blastBadgeLargeDark@2x.png
  src/assets/badges/blastBadgeLargeDark@3x.png
  src/assets/badges/blastBadgeNoShadow.png
  src/assets/badges/blastBadgeNoShadow@2x.png
  src/assets/badges/blastBadgeNoShadow@3x.png
  src/components/asset-list/RecyclerAssetList2/FastComponents/FastCoinBadge.tsx
  src/components/coin-icon/ChainBadge.js
  src/components/gas/GasSpeedButton.js
  src/handlers/web3.ts
  src/helpers/networkTypes.ts
  src/languages/en_US.json
  src/model/remoteConfig.ts
  src/networks/blast.ts
  src/networks/index.ts
  src/networks/types.ts
  src/redux/gas.ts
  src/references/index.ts
  src/screens/ExchangeModal.tsx
  src/screens/ExplainSheet.js
  src/styles/colors.ts
  yarn.lock
Labels: release

#5478 Fix Android ShadowStack causing TextInputs to be funky... and not in a fun way
  src/components/fields/PasswordField.tsx
  src/languages/en_US.json
  src/screens/SettingsSheet/components/Backups/WalletsAndBackup.tsx
Labels: backups v2

#5468 [FIX]: We're showing the option to back up on imported ledger wallet
  src/screens/SettingsSheet/SettingsPages.ts
  src/screens/SettingsSheet/components/Backups/WalletsAndBackup.tsx
  src/screens/SettingsSheet/components/SettingsSection.tsx
  src/screens/SettingsSheet/utils.ts
Labels: backups v2

#5466 Older backups only show on welcome screen but not in settings
  src/components/backup/ChooseBackupStep.tsx
  src/screens/SettingsSheet/components/Backups/ViewCloudBackups.tsx
Labels: backups v2

#5482 Android only - previous back up with pin code requires a new creation each time to view
  src/components/secret-display/SecretDisplaySection.tsx
  src/handlers/authentication.ts
Labels: backups v2

#5476 Fixes to Android Google Account Management
  src/hooks/useManageCloudBackups.ts
  src/languages/en_US.json
  src/screens/SettingsSheet/components/Backups/WalletsAndBackup.tsx
Labels: backups v2

#5469 Points: fix weekly earnings breakdown
  src/graphql/queries/metadata.graphql
  src/languages/en_US.json
  src/screens/points/ConsoleSheet.tsx
  src/screens/points/content/console/view-weekly-earnings.tsx
Labels: rainbow points

#5514 Upgrade reservoir
  package.json
  src/screens/NFTSingleOfferSheet/index.tsx
  src/screens/mints/MintSheet.tsx
  yarn.lock
Labels: release, NFT Offers

#5501 NFT Offers: infinite render fix
  src/languages/en_US.json
  src/screens/NFTSingleOfferSheet/index.tsx
Labels: NFT Offers

#5475 Dapp Browser: empty tab ui
  src/components/DappBrowser/BrowserTab.tsx
  src/components/DappBrowser/Homepage.tsx
Labels: dapp browser

#5532 Dapp Browser: close tab button
  src/components/DappBrowser/BrowserTab.tsx
Labels: dapp browser

#5539 NFT Offers: crash fix
  src/resources/reservoir/nftOffersQuery.ts
Labels: release, NFT Offers

#5536 [SWAPS V2]: Adjust currencies to match BX
  src/languages/en_US.json
  src/references/index.ts
  src/references/native-currencies.json
  src/references/supportedCurrencies.ts
  src/screens/SettingsSheet/SettingsPages.ts
  src/screens/SettingsSheet/components/CurrencySection.android.tsx
  src/screens/SettingsSheet/components/CurrencySection.tsx
Labels: swaps v2

#5538 [SWAPS V2]: Adjust asset types + utils to match BX
  src/__swaps__/screens/Swap/components/CoinRowButton.tsx
  src/__swaps__/screens/Swap/components/ExchangeRateBubble.tsx
  src/__swaps__/screens/Swap/components/FlipButton.tsx
  src/__swaps__/screens/Swap/components/SearchInput.tsx
  src/__swaps__/screens/Swap/components/SwapBackground.tsx
  src/__swaps__/screens/Swap/components/SwapNavbar.tsx
  src/__swaps__/screens/Swap/components/SwapNumberPad.tsx
  src/__swaps__/screens/Swap/components/SwapSlider.tsx
  src/__swaps__/screens/Swap/components/TokenList.tsx
  src/__swaps__/screens/Swap/components/controls/SwapActions.tsx
  src/__swaps__/screens/Swap/hooks/useSwapInputStyles.ts
  src/__swaps__/screens/Swap/hooks/useSwapInputsController.ts
  src/__swaps__/screens/Swap/hooks/useSwapTextStyles.ts
  src/__swaps__/screens/Swap/providers/swap-provider.tsx
  src/__swaps__/screens/Swap/types/assets.ts
  src/__swaps__/screens/Swap/types/chains.ts
  src/__swaps__/screens/Swap/types/search.ts
  src/__swaps__/screens/Swap/types/swap.ts
  src/__swaps__/screens/Swap/utils/assets.ts
  src/__swaps__/screens/Swap/utils/chains.ts
  src/__swaps__/screens/Swap/utils/hex.ts
  src/__swaps__/screens/Swap/utils/numbers.ts
  src/__swaps__/screens/Swap/utils/strings.ts
  src/__swaps__/screens/Swap/utils/swaps.ts
  src/components/DappBrowser/WebViewBorder.tsx
  src/components/DappBrowser/address-bar/AddressInput.tsx
  src/components/DappBrowser/address-bar/TabButton.tsx
Labels: swaps v2

#5542 Dapp Browser: Search UI
  src/components/DappBrowser/AddressBar.tsx
  src/components/DappBrowser/BrowserContext.tsx
  src/components/DappBrowser/DappBrowser.tsx
  src/components/DappBrowser/Homepage.tsx
  src/components/DappBrowser/address-bar/AddressInput.tsx
  src/components/DappBrowser/search-input/AccountIcon.tsx
  src/components/DappBrowser/search-input/SearchInput.tsx
  src/components/DappBrowser/search-input/TabButton.tsx
  src/components/DappBrowser/search/Search.tsx
  src/components/DappBrowser/search/SearchBar.tsx
  src/components/DappBrowser/search/search-results/SearchResult.tsx
  src/components/DappBrowser/search/search-results/SearchResults.tsx
Labels: dapp browser

#5576 Browser: fully eliminate reloading issues
  src/components/DappBrowser/BrowserContext.tsx
  src/components/DappBrowser/BrowserTab.tsx
  src/components/DappBrowser/DappBrowser.tsx
  src/components/DappBrowser/Homepage.tsx
  src/components/DappBrowser/ProgressBar.tsx
  src/components/DappBrowser/WebViewBorder.tsx
  src/components/DappBrowser/search-input/SearchInput.tsx
  src/components/DappBrowser/search/SearchBar.tsx
  src/components/DappBrowser/search/search-results/SearchResult.tsx
  src/components/images/ImgixImage.tsx
  src/design-system/components/Text/AnimatedText.tsx
  src/navigation/config.tsx
  src/state/favoriteDapps/index.ts
Labels: dapp browser

#5578 Browser: fix ref assignment, back/forward navigation
  src/components/DappBrowser/BrowserContext.tsx
  src/components/DappBrowser/BrowserTab.tsx
  src/components/DappBrowser/search-input/SearchInput.tsx
  src/components/DappBrowser/search/SearchBar.tsx
Labels: dapp browser

#5573 Dapp browser: disable tab closing for empty state
  src/components/DappBrowser/BrowserTab.tsx
  src/components/DappBrowser/CloseTabButton.tsx
Labels: dapp browser
