Repository rainbow-me/rainbow, pull requests merged in 2024-04, with the labels that each got.

#5582 Browser: tab transitions, state update queue
  src/components/DappBrowser/BrowserContext.tsx
  src/components/DappBrowser/BrowserTab.tsx
  src/components/DappBrowser/CloseTabButton.tsx
  src/components/DappBrowser/TabViewToolbar.tsx
  src/components/DappBrowser/WebViewBorder.tsx
  src/components/DappBrowser/utils.ts
Labels: dapp browser

#5617 Dapp Browser: Search
  src/assets/googleSearchIcon.png
  src/assets/googleSearchIcon@2x.png
  src/assets/googleSearchIcon@3x.png
  src/components/DappBrowser/BrowserContext.tsx
  src/components/DappBrowser/search-input/SearchInput.tsx
  src/components/DappBrowser/search/Search.tsx
  src/components/DappBrowser/search/SearchBar.tsx
  src/components/DappBrowser/search/SearchResult.tsx
  src/components/DappBrowser/search/search-results/SearchResult.tsx
  src/components/DappBrowser/search/search-results/SearchResults.tsx
  src/components/DappBrowser/utils.ts
  src/graphql/queries/metadata.graphql
  src/resources/metadata/dapps.ts
Labels: dapp browser

#5537 NFTs: filter instead of throw error when NFT has invalid network
  src/networks/arbitrum.ts
  src/networks/avalanche.ts
  src/networks/base.ts
  src/networks/blast.ts
  src/networks/bsc.ts
  src/networks/gnosis.ts
  src/networks/goerli.ts
  src/networks/optimism.ts
  src/networks/polygon.ts
  src/networks/types.ts
  src/resources/nfts/simplehash/index.ts
  src/resources/nfts/simplehash/types.ts
  src/resources/nfts/simplehash/utils.ts
Labels: nfts

#5584 tx requests: metadata
  src/walletConnect/index.tsx
Labels: release

#5586 send: check contract address
  src/screens/SendSheet.js
Labels: release

#5616 wc: improvements
  src/performance/tracking/types/PerformanceMetrics.ts
  src/walletConnect/index.tsx
Labels: release

#5601 [WIP]: Swaps v2 quote fetching
  package.json
  src/__swaps__/screens/Swap/components/ExchangeRateBubble.tsx
  src/__swaps__/screens/Swap/components/FlipButton.tsx
  src/__swaps__/screens/Swap/components/TokenList/TokenToBuyList.tsx
  src/__swaps__/screens/Swap/components/TokenList/TokenToBuySection.tsx
  src/__swaps__/screens/Swap/components/TokenList/TokenToSellList.tsx
  src/__swaps__/screens/Swap/components/controls/SwapInputAsset.tsx
  src/__swaps__/screens/Swap/components/controls/SwapOutputAsset.tsx
  src/__swaps__/screens/Swap/hooks/useAssetsToSell.ts
  src/__swaps__/screens/Swap/hooks/useSearchCurrencyLists.ts
  src/__swaps__/screens/Swap/hooks/useSwapInputsController.ts
  src/__swaps__/screens/Swap/providers/swap-provider.tsx
  src/__swaps__/screens/Swap/state/assets.ts
  src/__swaps__/screens/Swap/state/settings.ts
  src/__swaps__/types/swap.ts
  src/__swaps__/utils/swaps.ts
  yarn.lock
Labels: swaps v2

#5635 Price Impact Warning
  src/__swaps__/screens/Swap/Swap.tsx
  src/__swaps__/screens/Swap/components/ExchangeRateBubble.tsx
  src/__swaps__/screens/Swap/components/SwapWarning.tsx
  src/__swaps__/screens/Swap/hooks/useAnimatedSwapStyles.ts
  src/__swaps__/screens/Swap/hooks/useSwapInputsController.ts
  src/__swaps__/screens/Swap/hooks/useSwapWarning.ts
  src/__swaps__/screens/Swap/providers/swap-provider.tsx
  src/languages/en_US.json
Labels: swaps v2

#5632 Review Sheet
  src/__swaps__/screens/Swap/Swap.tsx
  src/__swaps__/screens/Swap/components/AnimatedSwitch.tsx
  src/__swaps__/screens/Swap/components/ExchangeRateBubble.tsx
  src/__swaps__/screens/Swap/components/GasButton.tsx
  src/__swaps__/screens/Swap/components/GestureHandlerV1Button.tsx
  src/__swaps__/screens/Swap/components/ReviewPanel.tsx
  src/__swaps__/screens/Swap/components/SheetGestureBlocker.tsx
  src/__swaps__/screens/Swap/components/SwapNumberPad.tsx
  src/__swaps__/screens/Swap/components/SwapSheetGestureBlocker.tsx
  src/__swaps__/screens/Swap/components/SwapSlider.tsx
  src/__swaps__/screens/Swap/components/TokenList/TokenList.tsx
  src/__swaps__/screens/Swap/components/controls/SwapActions.tsx
  src/__swaps__/screens/Swap/components/controls/SwapAmountInputs.tsx
  src/__swaps__/screens/Swap/components/controls/useSwapActionsGestureHandler.ts
  src/__swaps__/screens/Swap/constants.ts
  src/__swaps__/screens/Swap/hooks/useAnimatedSwapStyles.ts
  src/__swaps__/screens/Swap/hooks/useSwapInputStyles.ts
  src/__swaps__/screens/Swap/hooks/useSwapInputsController.ts
  src/__swaps__/screens/Swap/hooks/useSwapNavigation.ts
  src/__swaps__/screens/Swap/providers/swap-provider.tsx
  src/design-system/color/palettes.ts
  src/design-system/components/Columns/Columns.tsx
Labels: swaps v2

#5630 Output chain selection context menu
  src/__swaps__/screens/Swap/components/TokenList/ChainSelection.tsx
  src/__swaps__/screens/Swap/components/TokenList/TokenToBuyList.tsx
  src/__swaps__/screens/Swap/components/TokenList/TokenToSellList.tsx
  src/__swaps__/screens/Swap/hooks/useAssetsToSell.ts
  src/__swaps__/screens/Swap/providers/swap-provider.tsx
  src/__swaps__/screens/Swap/resources/_selectors/assets.ts
  src/__swaps__/types/assets.ts
  src/__swaps__/utils/chains.ts
  src/languages/en_US.json
Labels: swaps v2

#5644 Fix random quote edge cases
  src/__swaps__/screens/Swap/components/TokenList/TokenList.tsx
  src/__swaps__/screens/Swap/components/controls/SwapActions.tsx
  src/__swaps__/screens/Swap/components/controls/SwapInputAsset.tsx
  src/__swaps__/screens/Swap/components/controls/SwapOutputAsset.tsx
  src/__swaps__/screens/Swap/hooks/useAnimatedSwapStyles.ts
  src/__swaps__/screens/Swap/hooks/useSearchCurrencyLists.ts
  src/__swaps__/screens/Swap/hooks/useSwapInputsController.ts
  src/__swaps__/screens/Swap/hooks/useSwapWarning.ts
Labels: swaps v2

#5643 refetch quote if a user selects a new assset to sell with a buy asset…
  src/__swaps__/screens/Swap/hooks/useSwapInputsController.ts
  src/__swaps__/utils/swaps.ts
Labels: swaps v2

#5648 Cover a few more edge cases with showing the swap warnings
  src/__swaps__/screens/Swap/hooks/useSwapInputsController.ts
  src/__swaps__/screens/Swap/hooks/useSwapWarning.ts
Labels: swaps v2

#5650 Add rainbow fee to review panel
  src/__swaps__/screens/Swap/components/ReviewPanel.tsx
  src/__swaps__/utils/numbers.ts
  src/languages/en_US.json
Labels: swaps v2

#5649 Add backend provided slippage
  package.json
  src/__swaps__/screens/Swap/hooks/useSwapInputsController.ts
  yarn.lock
Labels: swaps v2

#5660 simplify logic for rainbow fee display in review panel
  src/__swaps__/screens/Swap/components/ReviewPanel.tsx
  src/__swaps__/screens/Swap/hooks/useSwapInputsController.ts
Labels: swaps v2
