Repository rainbow-me/rainbow, pull requests merged in 2024-06, with the labels that each got.

#5800 Bring in flashbots functionality for networks that support it
  src/__swaps__/screens/Swap/providers/swap-provider.tsx
  src/languages/en_US.json
Labels: swaps v2

#5797 fix alignment and shit
  src/__swaps__/screens/Swap/components/GasButton.tsx
  src/__swaps__/screens/Swap/components/ReviewPanel.tsx
  src/__swaps__/utils/swaps.ts
Labels: swaps v2

#5798 Fix Rounding Issue On Small Magnitude Decimals
  src/__swaps__/utils/swaps.ts
Labels: blocked, swaps v2

#5807 i18n Swap Tings
  src/__swaps__/screens/Swap/components/ReviewPanel.tsx
  src/__swaps__/screens/Swap/components/SearchInput.tsx
  src/__swaps__/screens/Swap/components/SwapInputAsset.tsx
  src/__swaps__/screens/Swap/components/SwapOutputAsset.tsx
  src/__swaps__/screens/Swap/components/SwapSlider.tsx
  src/__swaps__/screens/Swap/hooks/useAssetsToSell.ts
  src/__swaps__/screens/Swap/hooks/useNativeAssetForChain.ts
  src/__swaps__/screens/Swap/hooks/usePrevious.ts
  src/hooks/index.ts
  src/hooks/useDebounce.ts
  src/languages/en_US.json
Labels: swaps v2

#5799 Add explainer sheets to review panel
  src/__swaps__/screens/Swap/components/ReviewPanel.tsx
Labels: swaps v2

#5790 Remove `selectionColor` prop
  src/__swaps__/screens/Swap/components/SearchInput.tsx
Labels: swaps v2

#5803 Add other swaps entry points
  src/__swaps__/screens/Swap/hooks/useSwapInputsController.ts
  src/__swaps__/screens/Swap/providers/swap-provider.tsx
  src/__swaps__/types/assets.ts
  src/__swaps__/utils/assets.ts
  src/components/DappBrowser/control-panel/ControlPanel.tsx
  src/components/asset-list/RecyclerAssetList2/profile-header/ProfileActionButtonsRow.tsx
  src/components/sheet/sheet-action-buttons/SwapActionButton.js
  src/components/sheet/sheet-action-buttons/SwapActionButton.tsx
  src/resources/assets/assets.ts
Labels: swaps v2

#5767 disabled typing in output amount when cross-chain swap
  src/__swaps__/screens/Swap/components/SwapNumberPad.tsx
  src/__swaps__/screens/Swap/components/SwapOutputAsset.tsx
  src/__swaps__/screens/Swap/hooks/useSwapOutputQuotesDisabled.ts
  src/__swaps__/screens/Swap/providers/swap-provider.tsx
Labels: swaps v2

#5781 Use SafeMath in worklets
  src/__swaps__/safe-math/SafeMath.ts
  src/__swaps__/safe-math/__tests__/SafeMath.test.ts
  src/__swaps__/screens/Swap/hooks/useSwapInputsController.ts
  src/__swaps__/screens/Swap/hooks/useSwapTextStyles.ts
  src/__swaps__/screens/Swap/providers/swap-provider.tsx
  src/__swaps__/utils/numbers.ts
  src/__swaps__/utils/swaps.ts
  src/handlers/swap.ts
Labels: swaps v2

#5811 review panel wasn't awaiting a promise
  src/__swaps__/screens/Swap/components/ReviewPanel.tsx
  src/screens/ExplainSheet.js
Labels: swaps v2

#5816 fix fasterimage border radius android
  src/__swaps__/screens/Swap/components/AnimatedSwapCoinIcon.tsx
  src/components/images/ImgixImage.tsx
Labels: swaps v2

#5812 Disable flashbots toggle on appropriate chains
  src/__swaps__/screens/Swap/components/AnimatedSwitch.tsx
  src/__swaps__/screens/Swap/components/ReviewPanel.tsx
Labels: swaps v2

#5823 Fix wrong chain name in review panel
  src/__swaps__/screens/Swap/components/ReviewPanel.tsx
Labels: swaps v2

#5819 Performance: limit Sentry tracking, fix NFT hooks
  index.js
  src/App.js
  src/components/DappBrowser/search/Search.tsx
  src/components/DappBrowser/search/results/SearchResults.tsx
  src/components/asset-list/AssetList.js
  src/components/expanded-state/UniqueTokenExpandedState.tsx
  src/components/toasts/Toast.tsx
  src/handlers/ens.ts
  src/hooks/index.ts
  src/hooks/useAccountEmptyState.ts
  src/hooks/useCollectible.ts
  src/hooks/useTrackENSProfile.ts
  src/logger/sentry.ts
  src/resources/nfts/index.ts
  src/screens/WalletScreen/index.tsx
  src/screens/points/components/LeaderboardRow.tsx
  src/utils/logger.ts
Labels: performance, swaps v2

#5827 Add base fee condition to gas panel
  src/__swaps__/screens/Swap/components/GasPanel.tsx
Labels: swaps v2

#5824 Add entry point for other networks
  src/__swaps__/screens/Swap/hooks/useSwapInputsController.ts
  src/__swaps__/screens/Swap/providers/swap-provider.tsx
  src/__swaps__/utils/swaps.ts
  src/components/expanded-state/AvailableNetworksv2.tsx
  src/components/expanded-state/asset/ChartExpandedState.js
  src/components/sheet/sheet-action-buttons/SwapActionButton.tsx
Labels: swaps v2

#5829 Fix provider recursion bug, provider function types
  src/__swaps__/screens/Swap/providers/swap-provider.tsx
  src/__swaps__/screens/Swap/resources/assets/userAssets.ts
  src/handlers/web3.ts
  src/hooks/useRefreshAccountData.ts
  src/networks/arbitrum.ts
  src/networks/avalanche.ts
  src/networks/base.ts
  src/networks/blast.ts
  src/networks/bsc.ts
  src/networks/degen.ts
  src/networks/gnosis.ts
  src/networks/goerli.ts
  src/networks/index.ts
  src/networks/mainnet.ts
  src/networks/optimism.ts
  src/networks/polygon.ts
  src/networks/types.ts
  src/networks/zora.ts
  src/resources/assets/useSortedUserAssets.ts
  src/resources/assets/useUserAsset.ts
  src/resources/assets/useUserAssetCount.ts
  src/screens/NFTSingleOfferSheet/index.tsx
  src/screens/mints/MintSheet.tsx
  src/utils/ethereumUtils.ts
Labels: performance, swaps v2

#5822 Fix weird issues with rounding
  src/__swaps__/safe-math/SafeMath.ts
  src/__swaps__/screens/Swap/__tests__/NiceIncrementerFormatter.test.ts
  src/__swaps__/screens/Swap/components/TokenList/TokenToSellList.tsx
  src/__swaps__/screens/Swap/constants.ts
  src/__swaps__/screens/Swap/hooks/useSwapInputsController.ts
  src/__swaps__/utils/swaps.ts
  src/hooks/useSwapDerivedOutputs.ts
  src/raps/actions/swap.ts
Labels: swaps v2

#5833 Fix chain badge not respecting pixel ratio on android
  src/__swaps__/screens/Swap/components/AnimatedChainImage.tsx
Labels: android, swaps v2

#5805 Add analytics
  src/__swaps__/screens/Swap/components/FlipButton.tsx
  src/__swaps__/screens/Swap/components/GasButton.tsx
  src/__swaps__/screens/Swap/components/GasPanel.tsx
  src/__swaps__/screens/Swap/components/SearchInput.tsx
  src/__swaps__/screens/Swap/components/TokenList/ChainSelection.tsx
  src/__swaps__/screens/Swap/components/TokenList/TokenToBuySection.tsx
  src/__swaps__/screens/Swap/components/TokenList/TokenToSellList.tsx
  src/__swaps__/screens/Swap/hooks/useSelectedGas.ts
  src/__swaps__/screens/Swap/hooks/useSwapInputsController.ts
  src/__swaps__/screens/Swap/providers/swap-provider.tsx
  src/__swaps__/utils/meteorology.ts
  src/analytics/event.ts
Labels: swaps v2

#5835 Guard swaps v2 entry points for read only wallets
  src/components/asset-list/RecyclerAssetList2/profile-header/ProfileActionButtonsRow.tsx
  src/components/expanded-state/AvailableNetworksv2.tsx
  src/components/sheet/sheet-action-buttons/SwapActionButton.tsx
  src/hooks/useExpandedStateNavigation.ts
  src/screens/discover/components/DiscoverHome.js
  src/screens/discover/components/DiscoverSearch.js
Labels: swaps v2

#5841 default to fast suggestion if custom gas is selected but not set
  src/__swaps__/screens/Swap/hooks/useSelectedGas.ts
Labels: swaps v2

#5839 Swaps: fix crashes, logic and UI fixes
  src/__swaps__/safe-math/SafeMath.ts
  src/__swaps__/screens/Swap/components/AnimatedChainImage.tsx
  src/__swaps__/screens/Swap/components/AnimatedSwapCoinIcon.tsx
  src/__swaps__/screens/Swap/components/CoinRow.tsx
  src/__swaps__/screens/Swap/components/ExchangeRateBubble.tsx
  src/__swaps__/screens/Swap/components/FlipButton.tsx
  src/__swaps__/screens/Swap/components/GestureHandlerV1Button.tsx
  src/__swaps__/screens/Swap/components/SwapCoinIcon.tsx
  src/__swaps__/screens/Swap/components/SwapInput.tsx
  src/__swaps__/screens/Swap/components/TokenList/ListEmpty.tsx
  src/__swaps__/screens/Swap/components/TokenList/TokenToBuyList.tsx
  src/__swaps__/screens/Swap/components/TokenList/TokenToSellList.tsx
  src/__swaps__/screens/Swap/hooks/useSearchCurrencyLists.ts
  src/__swaps__/screens/Swap/hooks/useSwapInputStyles.ts
  src/__swaps__/screens/Swap/hooks/useSwapInputsController.ts
  src/__swaps__/screens/Swap/providers/swap-provider.tsx
  src/__swaps__/utils/swaps.ts
  src/utils/deviceUtils.ts
Labels: swaps v2

#5840 Fix isSwapping not being reset
  src/__swaps__/screens/Swap/providers/swap-provider.tsx
Labels: swaps v2

#5842 Hide Flashbots outside of mainnet
  src/__swaps__/screens/Swap/components/ReviewPanel.tsx
  src/__swaps__/screens/Swap/constants.ts
  src/__swaps__/screens/Swap/hooks/useAnimatedSwapStyles.ts
  src/languages/en_US.json
Labels: swaps v2

#5837 Math related fixes
  src/__swaps__/safe-math/SafeMath.ts
  src/__swaps__/safe-math/__tests__/SafeMath.test.ts
  src/__swaps__/screens/Swap/components/SwapNumberPad.tsx
  src/__swaps__/utils/swaps.ts
Labels: swaps v2

#5810 <UnmountOnAnimatedReaction />
  src/__swaps__/screens/Swap/components/EstimatedSwapGasFee.tsx
  src/__swaps__/screens/Swap/components/GasButton.tsx
  src/__swaps__/screens/Swap/components/GasPanel.tsx
  src/__swaps__/screens/Swap/components/ReviewPanel.tsx
  src/__swaps__/screens/Swap/components/SwapBottomPanel.tsx
  src/__swaps__/screens/Swap/components/UnmountOnAnimatedReaction.tsx
  src/__swaps__/screens/Swap/hooks/useEstimatedGasFee.ts
  src/__swaps__/utils/meteorology.ts
Labels: swaps v2

#5847 Fixed quotes not respecting network decimals over asset decimals
  src/__swaps__/screens/Swap/hooks/useSwapInputsController.ts
Labels: swaps v2

#5846 Fix favorites nuances
  src/__swaps__/screens/Swap/components/CoinRow.tsx
  src/__swaps__/screens/Swap/hooks/useSearchCurrencyLists.ts
  src/references/index.ts
Labels: swaps v2

#5826 Swaps: fix handling of native currency formatting/presentation
  shim.js
  src/__swaps__/screens/Swap/__tests__/NiceIncrementerFormatter.test.ts
  src/__swaps__/screens/Swap/components/ExchangeRateBubble.tsx
  src/__swaps__/screens/Swap/components/GasButton.tsx
  src/__swaps__/screens/Swap/components/GasPanel.tsx
  src/__swaps__/screens/Swap/components/ReviewPanel.tsx
  src/__swaps__/screens/Swap/hooks/formatNumber.ts
  src/__swaps__/screens/Swap/hooks/useEstimatedGasFee.ts
  src/__swaps__/screens/Swap/hooks/useSwapInputsController.ts
  src/__swaps__/screens/Swap/hooks/useSwapWarning.ts
  src/__swaps__/utils/assets.ts
  src/__swaps__/utils/gasUtils.ts
  src/__swaps__/utils/numbers.ts
  src/__swaps__/utils/swaps.ts
  src/helpers/toLocaleStringPolyfill.ts
Labels: swaps v2

#5785 swap button states
  src/__swaps__/screens/Swap/components/GestureHandlerV1Button.tsx
  src/__swaps__/screens/Swap/components/SwapActionButton.tsx
  src/__swaps__/screens/Swap/components/SwapBottomPanel.tsx
  src/__swaps__/screens/Swap/components/SwapInputAsset.tsx
  src/__swaps__/screens/Swap/components/SwapOutputAsset.tsx
  src/__swaps__/screens/Swap/hooks/useEstimatedGasFee.ts
  src/__swaps__/screens/Swap/providers/SyncSwapStateAndSharedValues.tsx
  src/__swaps__/screens/Swap/providers/swap-provider.tsx
  src/__swaps__/screens/Swap/resources/assets/userAssets.ts
  src/languages/en_US.json
  src/resources/assets/assetSelectors.ts
  src/resources/assets/useUserAsset.ts
  src/state/assets/userAssets.ts
Labels: swaps v2

#5851 Add TextShadow component
  globals.d.ts
  src/design-system/components/Heading/Heading.tsx
  src/design-system/components/Text/Text.tsx
  src/design-system/components/TextIcon/TextIcon.tsx
  src/design-system/components/TextShadow/TextShadow.tsx
  src/design-system/index.ts
Labels: rainbow points

#5804 swap paste button in output field
  src/__swaps__/screens/Swap/components/SearchInput.tsx
  src/__swaps__/screens/Swap/hooks/useAnimatedSwapStyles.ts
  src/__swaps__/utils/swaps.ts
  src/design-system/color/palettes.ts
Labels: swaps v2

#5856 Swaps: fix initial input native currency value, light mode coin icon placeholder
  src/__swaps__/screens/Swap/components/AnimatedSwapCoinIcon.tsx
  src/__swaps__/screens/Swap/hooks/useSwapInputsController.ts
Labels: swaps v2

#5858 fix crash
  src/__swaps__/screens/Swap/providers/swap-provider.tsx
  src/__swaps__/utils/swaps.ts
  src/screens/ExchangeModal.tsx
Labels: swaps v2

#5859 add back close button to swap input select asset
  src/__swaps__/screens/Swap/components/CoinRow.tsx
  src/__swaps__/screens/Swap/components/SearchInput.tsx
Labels: swaps v2

#5861 fix for small balance threshold not being updated
  src/references/supportedCurrencies.ts
  src/screens/SettingsSheet/components/CurrencySection.tsx
  src/state/assets/userAssets.ts
Labels: swaps v2

#5845 Swaps: subtract gas fee buffer from native token balances
  src/__swaps__/screens/Swap/hooks/useEstimatedGasFee.ts
  src/__swaps__/screens/Swap/hooks/useSwapInputsController.ts
  src/__swaps__/screens/Swap/providers/swap-provider.tsx
  src/__swaps__/types/assets.ts
  src/__swaps__/utils/swaps.ts
Labels: swaps v2

#5838 custom gas warnings
  src/__swaps__/screens/Swap/components/GasPanel.tsx
  src/__swaps__/utils/meteorology.ts
  src/languages/en_US.json
Labels: swaps v2

#5872 Swaps: gas icons, review sheet cleanup
  src/__swaps__/screens/Swap/components/AnimatedSwitch.tsx
  src/__swaps__/screens/Swap/components/CoinRow.tsx
  src/__swaps__/screens/Swap/components/EstimatedSwapGasFee.tsx
  src/__swaps__/screens/Swap/components/GasButton.tsx
  src/__swaps__/screens/Swap/components/GasPanel.tsx
  src/__swaps__/screens/Swap/components/ReviewPanel.tsx
  src/__swaps__/screens/Swap/components/SearchInput.tsx
  src/__swaps__/screens/Swap/components/SwapBottomPanel.tsx
  src/__swaps__/screens/Swap/components/SwapInput.tsx
  src/__swaps__/screens/Swap/components/SwapInputAsset.tsx
  src/__swaps__/screens/Swap/components/SwapNumberPad.tsx
  src/__swaps__/screens/Swap/components/SwapOutputAsset.tsx
  src/__swaps__/screens/Swap/components/SwapSlider.tsx
  src/__swaps__/screens/Swap/components/TokenList/TokenList.tsx
  src/__swaps__/screens/Swap/constants.ts
  src/__swaps__/screens/Swap/hooks/useAnimatedSwapStyles.ts
  src/__swaps__/screens/Swap/hooks/useBottomPanelGestureHandler.ts
  src/__swaps__/utils/meteorology.ts
  src/references/index.ts
  src/state/assets/userAssets.ts
  src/utils/gas.ts
Labels: swaps v2

#5871 add flashbots unknown type as failed
  src/handlers/transactions.ts
Labels: swaps v2

#5873 Fixes for review button states
  src/__swaps__/screens/Swap/__tests__/NiceIncrementerFormatter.test.ts
  src/__swaps__/screens/Swap/hooks/useEstimatedGasFee.ts
  src/__swaps__/screens/Swap/hooks/useSwapInputsController.ts
  src/__swaps__/screens/Swap/providers/swap-provider.tsx
  src/__swaps__/utils/swaps.ts
Labels: swaps v2

#5867 Fix chain badges on android
  src/__swaps__/screens/Swap/components/AnimatedChainImage.android.tsx
  src/__swaps__/screens/Swap/components/AnimatedChainImage.ios.tsx
  src/__swaps__/screens/Swap/components/AnimatedChainImage.tsx
  src/__swaps__/screens/Swap/components/AnimatedSwapCoinIcon.tsx
  src/__swaps__/screens/Swap/components/ReviewPanel.tsx
  src/__swaps__/screens/Swap/components/SwapInputAsset.tsx
  src/__swaps__/screens/Swap/components/SwapOutputAsset.tsx
  src/__swaps__/screens/Swap/components/SwapSlider.tsx
Labels: swaps v2

#5880 fix handler on android
  src/__swaps__/screens/Swap/components/CoinRow.tsx
Labels: swaps v2

#5854 Review button states
  src/__swaps__/screens/Swap/__tests__/NiceIncrementerFormatter.test.ts
  src/__swaps__/screens/Swap/components/GestureHandlerV1Button.tsx
  src/__swaps__/screens/Swap/components/SwapActionButton.tsx
  src/__swaps__/screens/Swap/components/SwapBottomPanel.tsx
  src/__swaps__/screens/Swap/components/SwapInputAsset.tsx
  src/__swaps__/screens/Swap/components/SwapOutputAsset.tsx
  src/__swaps__/screens/Swap/hooks/useEstimatedGasFee.ts
  src/__swaps__/screens/Swap/hooks/useSwapInputsController.ts
  src/__swaps__/screens/Swap/providers/SyncSwapStateAndSharedValues.tsx
  src/__swaps__/screens/Swap/providers/swap-provider.tsx
  src/__swaps__/screens/Swap/resources/assets/userAssets.ts
  src/__swaps__/utils/swaps.ts
  src/languages/en_US.json
  src/resources/assets/assetSelectors.ts
  src/resources/assets/useUserAsset.ts
  src/state/assets/userAssets.ts
Labels: swaps v2

#5875 clear custom gas settings
  src/__swaps__/screens/Swap/Swap.tsx
  src/__swaps__/screens/Swap/components/GasButton.tsx
  src/__swaps__/screens/Swap/components/GasPanel.tsx
  src/__swaps__/screens/Swap/components/ReviewPanel.tsx
  src/__swaps__/screens/Swap/hooks/useCustomGas.ts
  src/__swaps__/screens/Swap/providers/swap-provider.tsx
Labels: swaps v2

#5881 Swaps: Gas fee range to use for native asset maxSwappableAmount buffer
  src/__swaps__/screens/Swap/hooks/useSwapInputsController.ts
  src/__swaps__/screens/Swap/providers/SyncSwapStateAndSharedValues.tsx
Labels: swaps v2

#5884 Fix swap button presses, adjust button state logic
  src/__swaps__/screens/Swap/components/SwapActionButton.tsx
  src/__swaps__/screens/Swap/hooks/useSwapInputsController.ts
  src/__swaps__/screens/Swap/providers/swap-provider.tsx
  src/languages/en_US.json
Labels: swaps v2

#5886 Remove input value typeof checks
  src/__swaps__/screens/Swap/hooks/useSwapInputsController.ts
Labels: swaps v2

#5878 [e2e] rerun only failed tests
  scripts/run-retry-tests.sh
Labels: nice to have

#5896 Rewards UI cleanup
  src/assets/tabSpinner.png
  src/assets/tabSpinner@2x.png
  src/assets/tabSpinner@3x.png
  src/components/SmoothPager/SmoothPager.tsx
  src/languages/en_US.json
  src/navigation/SwipeNavigator.tsx
  src/screens/WalletScreen/index.tsx
  src/screens/points/PointsScreen.tsx
  src/screens/points/components/Line.tsx
  src/screens/points/components/LineBreak.tsx
  src/screens/points/components/Paragraph.tsx
  src/screens/points/components/RewardsActionButton.tsx
  src/screens/points/content/ClaimContent.tsx
  src/screens/points/content/PlaceholderContent.tsx
  src/screens/points/content/PointsContent.tsx
  src/screens/points/content/ReferralContent.tsx
  src/screens/points/content/console/calculate.tsx
  src/screens/points/content/console/initialize.tsx
  src/screens/points/content/console/require-wallet-balance.tsx
  src/screens/points/content/console/review.tsx
  src/screens/points/content/console/share.tsx
  src/screens/points/content/console/view-weekly-earnings.tsx
  src/utils/measureText.ts
Labels: rainbow points

#5888 Fix maxSwappableAmount bugs, remaining string type check bugs
  src/__swaps__/screens/Swap/components/SwapNumberPad.tsx
  src/__swaps__/screens/Swap/components/SwapSlider.tsx
  src/__swaps__/screens/Swap/hooks/useAnimatedSwapStyles.ts
  src/__swaps__/screens/Swap/hooks/useSwapInputsController.ts
  src/__swaps__/screens/Swap/providers/SyncSwapStateAndSharedValues.tsx
  src/__swaps__/utils/swaps.ts
Labels: swaps v2

#5895 Swaps: hide output paste button if clipboard is empty
  src/__swaps__/screens/Swap/components/SearchInput.tsx
  src/__swaps__/screens/Swap/components/SearchInputButton.tsx
Labels: swaps v2

#5894 Swaps: Remove authentication failure message
  src/__swaps__/screens/Swap/providers/swap-provider.tsx
  src/languages/en_US.json
Labels: swaps v2

#5892 fix polygon swap (gasPrice)
  src/__swaps__/screens/Swap/components/GasPanel.tsx
  src/__swaps__/screens/Swap/hooks/useEstimatedGasFee.ts
  src/__swaps__/utils/meteorology.ts
  src/languages/en_US.json
  src/resources/assets/useUserAsset.ts
Labels: swaps v2

#5874 [CI] Enable unit tests
  .github/workflows/macstadium-e2e.yml
  jest.config.js
  src/__swaps__/screens/Swap/__tests__/NiceIncrementerFormatter.test.disabled.ts
  src/__swaps__/utils/__tests__/numbers.test.ts
  src/analytics/__tests__/index.test.ts
  src/logger/__tests__/logger.test.ts
  src/state/appSessions/index.test.ts
  src/state/favoriteDapps/index.test.ts
Labels: nice to have

#5901 Match logic of balance badge to format max input value
  src/__swaps__/screens/Swap/hooks/useSwapInputsController.ts
  src/__swaps__/utils/numbers.ts
Labels: swaps v2

#5903 Display 2 decimals at a minimum for stablecoins in valueBasedDecimalFormatter
  src/__swaps__/utils/swaps.ts
Labels: swaps v2

#5902 fix custom gas panel
  src/__swaps__/screens/Swap/components/GasPanel.tsx
  src/__swaps__/screens/Swap/hooks/useSelectedGas.ts
  src/__swaps__/utils/meteorology.ts
  src/state/swaps/swapsStore.ts
Labels: swaps v2

#5897 filter by network hide irrelevant chains
  src/__swaps__/screens/Swap/components/TokenList/ChainSelection.tsx
  src/__swaps__/screens/Swap/components/TokenList/TokenToSellList.tsx
  src/state/assets/userAssets.ts
Labels: swaps v2, nice to have

#5904 Debounce fetch quote after updating slippage
  src/__swaps__/screens/Swap/hooks/useSwapInputsController.ts
  src/__swaps__/screens/Swap/providers/swap-provider.tsx
Labels: swaps v2

#5885 fix estimated fee
  src/__swaps__/screens/Swap/components/EstimatedSwapGasFee.tsx
  src/__swaps__/screens/Swap/components/GasButton.tsx
  src/__swaps__/screens/Swap/components/ReviewPanel.tsx
  src/__swaps__/screens/Swap/hooks/useEstimatedGasFee.ts
  src/__swaps__/screens/Swap/hooks/useSwapEstimatedGasLimit.ts
  src/references/gasUnits.ts
Labels: swaps v2
