Repository rainbow-me/rainbow, pull requests merged in 2024-01, with the labels that each got.

#5198 [APP-925]: Backend Driven Cards
  shim.js
  src/App.js
  src/analytics/event.ts
  src/components/asset-list/RecyclerAssetList2/core/RawRecyclerList.tsx
  src/components/asset-list/RecyclerAssetList2/core/RowRenderer.tsx
  src/components/asset-list/RecyclerAssetList2/core/ViewDimensions.tsx
  src/components/asset-list/RecyclerAssetList2/core/ViewTypes.ts
  src/components/asset-list/RecyclerAssetList2/core/getLayoutProvider.tsx
  src/components/cards/CarouselCard.tsx
  src/components/cards/remote-cards/RemoteCard.tsx
  src/components/cards/remote-cards/RemoteCardCarousel.tsx
  src/components/cards/remote-cards/RemoteCardProvider.tsx
  src/components/cards/remote-cards/index.ts
  src/config/experimental.ts
  src/design-system/components/Box/Box.tsx
  src/graphql/queries/arc.graphql
  src/graphql/queries/metadata.graphql
  src/helpers/buildWalletSections.tsx
  src/languages/en_US.json
  src/model/remoteConfig.ts
  src/resources/cards/cardCollectionQuery.ts
  src/resources/cards/cardQuery.ts
  src/screens/WalletScreen/index.tsx
  src/screens/discover/components/DiscoverHome.js
  src/screens/points/ConsoleSheet.tsx
  src/screens/points/components/AnimatedText.tsx
  src/screens/points/components/LeaderboardRow.tsx
  src/screens/points/constants.ts
  src/screens/points/content/PointsContent.tsx
  src/screens/points/content/console/view-weekly-earnings.tsx
  src/storage/index.ts
  src/storage/schema.ts
Labels: nice for release

#5332 Points: rank card fixes
  src/screens/points/components/LeaderboardRow.tsx
  src/screens/points/content/PointsContent.tsx
Labels: release, rainbow points

#5329 Points: notifications toggle
  src/components/sheet/sheet-action-buttons/SwapActionButton.js
  src/config/experimental.ts
  src/languages/en_US.json
  src/migrations/migrations/migrateNotificationSettingsToV2.ts
  src/model/remoteConfig.ts
  src/model/wallet.ts
  src/notifications/NotificationsHandler.tsx
  src/notifications/analytics.ts
  src/notifications/settings/__tests__/initialization.test.txt
  src/notifications/settings/constants.ts
  src/notifications/settings/firebase.ts
  src/notifications/settings/hooks.ts
  src/notifications/settings/index.ts
  src/notifications/settings/initialization.ts
  src/notifications/settings/settings.ts
  src/notifications/settings/storage.ts
  src/notifications/settings/types.ts
  src/screens/SettingsSheet/components/DevSection.android.tsx
  src/screens/SettingsSheet/components/DevSection.tsx
  src/screens/SettingsSheet/components/NotificationsSection.android.tsx
  src/screens/SettingsSheet/components/NotificationsSection.tsx
  src/screens/SettingsSheet/components/WalletNotificationsSettings.android.tsx
  src/screens/SettingsSheet/components/WalletNotificationsSettings.tsx
  src/screens/points/PointsScreen.tsx
  src/screens/points/components/NotificationToggleContextMenu.tsx
  src/screens/points/content/PointsContent.tsx
Labels: release, rainbow points

#5351 @skylar/price impact followup
  src/handlers/swap.ts
  src/hooks/usePriceImpactDetails.ts
Labels: release

#5341 Points: require wallet balance UI
  src/analytics/event.ts
  src/languages/en_US.json
  src/screens/points/ConsoleSheet.tsx
  src/screens/points/constants.ts
  src/screens/points/content/console/require-wallet-balance.tsx
  src/screens/points/contexts/PointsProfileContext.tsx
Labels: rainbow points
