Repository rainbow-me/rainbow, pull requests merged in 2024-08, with the labels that each got.

#5962 Add "TimeToSign" performance tracking
  src/__swaps__/screens/Swap/providers/swap-provider.tsx
  src/analytics/event.ts
  src/helpers/signingWallet.ts
  src/hooks/useENSRegistrationActionHandler.ts
  src/model/wallet.ts
  src/raps/actions/crosschainSwap.ts
  src/raps/actions/ens.ts
  src/raps/actions/swap.ts
  src/raps/execute.ts
  src/screens/ENSConfirmRegisterSheet.tsx
  src/screens/ExchangeModal.tsx
  src/screens/SendConfirmationSheet.tsx
  src/screens/SendSheet.js
  src/screens/SignTransactionSheet.tsx
  src/screens/points/claim-flow/ClaimRewardsPanel.tsx
  src/screens/points/contexts/PointsProfileContext.tsx
  src/state/performance/operations.ts
  src/state/performance/performance.ts
  src/walletConnect/index.tsx
Labels: release, performance

#5979 Degen mode analytics, copy adjustment
  src/__swaps__/screens/Swap/hooks/useSwapSettings.ts
  src/__swaps__/screens/Swap/providers/swap-provider.tsx
  src/analytics/event.ts
  src/languages/en_US.json
Labels: release

#5915 Brody/swap v2 e2e
  e2e/3_homeScreen.spec.ts
  e2e/9_swaps.spec.ts
  e2e/helpers.ts
  package.json
  src/__swaps__/screens/Swap/components/CoinRow.tsx
  src/__swaps__/screens/Swap/components/EstimatedSwapGasFee.tsx
  src/__swaps__/screens/Swap/components/FadeMask.tsx
  src/__swaps__/screens/Swap/components/SwapActionButton.tsx
  src/__swaps__/screens/Swap/components/SwapBackground.tsx
  src/__swaps__/screens/Swap/components/SwapInputAsset.tsx
  src/__swaps__/screens/Swap/components/TokenList/TokenToBuyList.tsx
  src/__swaps__/screens/Swap/constants.ts
  src/__swaps__/screens/Swap/hooks/useAssetsToSell.ts
  src/__swaps__/screens/Swap/hooks/useSwapInputsController.ts
  src/__swaps__/types/chains.ts
  src/components/activity-list/ActivityList.js
  src/components/animations/animationConfigs.ts
  src/components/asset-list/RecyclerAssetList2/FastComponents/FastBalanceCoinRow.tsx
  src/config/experimental.ts
  src/references/chain-assets.json
  src/references/index.ts
  src/state/assets/userAssets.ts
  src/state/sync/UserAssetsSync.tsx
Labels: swaps v2, e2e

#5974 Trending DApps
  src/components/DappBrowser/Homepage.tsx
  src/graphql/queries/metadata.graphql
  src/resources/metadata/trendingDapps.ts
Labels: dapp browser

#5990 Swaps: Popular Tokens
  src/__swaps__/screens/Swap/components/TokenList/TokenToBuyList.tsx
  src/__swaps__/screens/Swap/hooks/useSearchCurrencyLists.ts
  src/__swaps__/screens/Swap/providers/swap-provider.tsx
  src/__swaps__/screens/Swap/resources/_selectors/search.ts
  src/__swaps__/screens/Swap/resources/search/discovery.ts
  src/__swaps__/screens/Swap/resources/search/index.ts
  src/__swaps__/screens/Swap/resources/search/search.ts
  src/__swaps__/screens/Swap/resources/search/utils.ts
  src/__swaps__/types/search.ts
  src/analytics/event.ts
  src/languages/en_US.json
Labels: swaps v2

#5994 Default the Swap input currency to ETH
  src/__swaps__/screens/Swap/Swap.tsx
  src/components/DappBrowser/control-panel/ControlPanel.tsx
  src/components/asset-list/RecyclerAssetList2/profile-header/ProfileActionButtonsRow.tsx
  src/state/assets/userAssets.ts
  src/state/sync/UserAssetsSync.tsx
Labels: swaps v2

#5984 Design system improvements
  src/__swaps__/screens/Swap/components/ReviewPanel.tsx
  src/design-system/color/AccentColorContext.tsx
  src/design-system/components/Border/Border.tsx
  src/design-system/components/Box/Box.tsx
  src/design-system/components/Inline/Inline.tsx
  src/design-system/components/Stack/Stack.tsx
  src/design-system/components/private/ApplyShadow/AndroidShadow.tsx
  src/design-system/components/private/ApplyShadow/ApplyShadow.tsx
  src/design-system/components/private/ApplyShadow/IOSShadow.tsx
Labels: design system

#5998 swaps bug fix: missing asset balance for some tokens
  src/__swaps__/screens/Swap/resources/assets/userAssets.ts
  src/__swaps__/utils/assets.ts
Labels: swaps v2

#5978 Drag and drop components, browser favorites reordering
  src/components/AnimatedComponents/AnimatedFlatList.ts
  src/components/DappBrowser/BrowserTab.tsx
  src/components/DappBrowser/Homepage.tsx
  src/components/DappBrowser/control-panel/ControlPanel.tsx
  src/components/DappBrowser/search-input/SearchInput.tsx
  src/components/drag-and-drop/DndContext.ts
  src/components/drag-and-drop/DndProvider.tsx
  src/components/drag-and-drop/components/Draggable.tsx
  src/components/drag-and-drop/components/DraggableFlatList.tsx
  src/components/drag-and-drop/components/Droppable.tsx
  src/components/drag-and-drop/components/index.ts
  src/components/drag-and-drop/features/index.ts
  src/components/drag-and-drop/features/sort/components/DraggableGrid.tsx
  src/components/drag-and-drop/features/sort/components/DraggableStack.tsx
  src/components/drag-and-drop/features/sort/components/index.ts
  src/components/drag-and-drop/features/sort/hooks/index.ts
  src/components/drag-and-drop/features/sort/hooks/useDraggableGrid.ts
  src/components/drag-and-drop/features/sort/hooks/useDraggableSort.ts
  src/components/drag-and-drop/features/sort/hooks/useDraggableStack.ts
  src/components/drag-and-drop/features/sort/index.ts
  src/components/drag-and-drop/hooks/index.ts
  src/components/drag-and-drop/hooks/useActiveDragReaction.ts
  src/components/drag-and-drop/hooks/useActiveDropReaction.ts
  src/components/drag-and-drop/hooks/useDraggable.ts
  src/components/drag-and-drop/hooks/useDraggableActiveId.ts
  src/components/drag-and-drop/hooks/useDraggableStyle.tsx
  src/components/drag-and-drop/hooks/useDroppable.ts
  src/components/drag-and-drop/hooks/useDroppableStyle.tsx
  src/components/drag-and-drop/hooks/useEvent.ts
  src/components/drag-and-drop/hooks/useLatestSharedValue.ts
  src/components/drag-and-drop/hooks/useLatestValue.ts
  src/components/drag-and-drop/hooks/useNodeRef.ts
  src/components/drag-and-drop/hooks/useSharedPoint.ts
  src/components/drag-and-drop/hooks/useSharedValuePair.ts
  src/components/drag-and-drop/index.ts
  src/components/drag-and-drop/types/common.ts
  src/components/drag-and-drop/types/index.ts
  src/components/drag-and-drop/types/reanimated.ts
  src/components/drag-and-drop/utils/array.ts
  src/components/drag-and-drop/utils/assert.ts
  src/components/drag-and-drop/utils/geometry.ts
  src/components/drag-and-drop/utils/index.ts
  src/components/drag-and-drop/utils/random.ts
  src/components/drag-and-drop/utils/reanimated.ts
  src/components/drag-and-drop/utils/swap.ts
  src/components/easing-gradient/EasingGradient.tsx
  src/hooks/reanimated/useAnimatedTimeout.ts
  src/hooks/reanimated/useLayoutWorklet.ts
  src/hooks/useEasingGradient.ts
  src/model/migrations.ts
  src/state/browser/favoriteDappsStore.test.ts
  src/state/browser/favoriteDappsStore.ts
  src/state/legacyFavoriteDapps/index.ts
  src/state/remoteCards/remoteCards.ts
Labels: release, dapp browser

#5996 update swaps sdk
  package.json
  src/__swaps__/screens/Swap/hooks/useSwapInputsController.ts
  src/__swaps__/utils/swaps.ts
  src/hooks/useSwapDerivedOutputs.ts
  src/raps/actions/claimBridge.ts
  yarn.lock
Labels: release

#5995 Fun stuff
  src/logger/sentry.ts
Labels: release

#6003 Fix cloudflare block
  src/components/DappBrowser/constants.ts
  src/components/DappBrowser/scripts.ts
Labels: android, dapp browser

#6004 Fix DApp Browser Webview Height
  src/components/DappBrowser/Dimensions.ts
  src/components/DappBrowser/search/Search.tsx
Labels: android, dapp browser

#6005 Fix Android Button Navigation Colors
  android/app/src/main/java/me/rainbow/NativeModules/SystemNavigationBar/SystemNavigationBarModule.java
  src/handlers/localstorage/theme.ts
  src/theme/ThemeContext.tsx
Labels: android

#6029 Fix browser favorites migration
  src/model/migrations.ts
Labels: dapp browser

#6054 Fix dapp browser http loads
  ios/Rainbow/Info.plist
Labels: dapp browser

#6050 Swaps performance improvements, logic fixes
  src/__swaps__/screens/Swap/Swap.tsx
  src/__swaps__/screens/Swap/components/AnimatedChainImage.ios.tsx
  src/__swaps__/screens/Swap/components/AnimatedSwapCoinIcon.tsx
  src/__swaps__/screens/Swap/components/ExchangeRateBubble.tsx
  src/__swaps__/screens/Swap/components/GasPanel.tsx
  src/__swaps__/screens/Swap/components/ReviewPanel.tsx
  src/__swaps__/screens/Swap/components/SearchInput.tsx
  src/__swaps__/screens/Swap/components/SearchInputButton.tsx
  src/__swaps__/screens/Swap/components/SwapActionButton.tsx
  src/__swaps__/screens/Swap/components/SwapBottomPanel.tsx
  src/__swaps__/screens/Swap/components/SwapOutputAsset.tsx
  src/__swaps__/screens/Swap/components/SwapSlider.tsx
  src/__swaps__/screens/Swap/components/TokenList/TokenToBuyList.tsx
  src/__swaps__/screens/Swap/components/TokenList/TokenToSellList.tsx
  src/__swaps__/screens/Swap/hooks/useNativeAssetForChain.ts
  src/__swaps__/screens/Swap/hooks/useSearchCurrencyLists.ts
  src/__swaps__/screens/Swap/hooks/useSwapInputsController.ts
  src/__swaps__/screens/Swap/hooks/useSwapTextStyles.ts
  src/__swaps__/screens/Swap/providers/SyncSwapStateAndSharedValues.tsx
  src/__swaps__/screens/Swap/providers/swap-provider.tsx
  src/__swaps__/utils/swaps.ts
  src/components/DappBrowser/constants.ts
  src/components/animations/AnimatedSpinner.tsx
  src/hooks/useClipboard.ts
  src/languages/en_US.json
  src/state/assets/userAssets.ts
Labels: swaps v2
