Repository rainbow-me/rainbow, changes with the owners that CODEOWNERS names for each.
All owners: @salman-rb, @estrattonbailey, @skylarbarrera, @jinchung, @brunobar79, @nickbytes, @estebanmino, @jkadamczyk, @benisgold, @jxom, @derHowie

CODEOWNERS:

# Rainbow CODEOWNERS file
CODEOWNERS @salman-rb @estrattonbailey @skylarbarrera
LICENSE @jinchung @brunobar79 @nickbytes @estebanmino
README.md @nickbytes @salman-rb @estrattonbailey @skylarbarrera
app.json @salman-rb @estrattonbailey @skylarbarrera

# ANDROID
android/ @brunobar79 @jkadamczyk @skylarbarrera

# IOS
ios/ @brunobar79 @benisgold @salman-rb @skylarbarrera

# SECURITY / APP INFRA
patches/ @brunobar79 @estrattonbailey @skylarbarrera
scripts/ @brunobar79 @jkadamczyk @skylarbarrera

# DESIGN SYSTEM
src/design-system @jxom @estrattonbailey

# Handlers
src/handlers/aesEncryption.ts @brunobar79 @estebanmino
src/handlers/authentication.ts @brunobar79 @estebanmino
src/handlers/cloudBackup.ts @brunobar79 @skylarbarrera @estebanmino @jkadamczyk
src/handlers/fedora.ts @estebanmino @brunobar79 

# Model
src/model/backup.ts @brunobar79 @estebanmino @salman-rb @jkadamczyk
src/model/keychain.ts @brunobar79 @estebanmino @salman-rb @estrattonbailey @skylarbarrera
src/model/migrations.ts @brunobar79 @estebanmino @salman-rb @estrattonbailey @skylarbarrera
src/model/wallet.ts @brunobar79 @estebanmino @salman-rb @estrattonbailey @skylarbarrera

# redux
src/redux/gas.ts @estebanmino @skylarbarrera @estrattonbailey
src/redux/nonceManager.ts @derHowie @skylarbarrera @estrattonbailey

# navigation
src/navigation @jkadamczyk @skylarbarrera @estrattonbailey

# APP INFRA
package.json @salman-rb @skylarbarrera @estrattonbailey
.eslintignore @salman-rb @estrattonbailey @skylarbarrera
.eslintrc.js @salman-rb @estrattonbailey @skylarbarrera
.gitattributes @brunobar79 @salman-rb @estrattonbailey @skylarbarrera
.gitignore @salman-rb @estrattonbailey @skylarbarrera
.nvmrc @salman-rb @estrattonbailey @skylarbarrera
.prettierrc.js @salman-rb @estrattonbailey @skylarbarrera
.yarnrc @estrattonbailey @skylarbarrera
audit-ci.json @brunobar79 @salman-rb @skylarbarrera @estebanmino @estrattonbailey
babel.config.js @estrattonbailey @jkadamczyk @skylarbarrera
globals.d.ts @estrattonbailey @skylarbarrera
yarn.lock @salman-rb @estrattonbailey @skylarbarrera
tsconfig.json @salman-rb @estrattonbailey @skylarbarrera
hardhat.config.js @salman-rb @skylarbarrera

# APP INFRA
globalVariables.js @estrattonbailey @skylarbarrera
shim.js @brunobar79 @salman-rb @estrattonbailey @skylarbarrera @jkadamczyk
index.js @salman-rb @estrattonbailey @jkadamczyk @skylarbarrera
src/App.js @salman-rb @estrattonbailey @skylarbarrera

# SECURITY / APP INFRA
metro.config.js @skylarbarrera @estrattonbailey @jkadamczyk @brunobar79 
metro.transform.js @skylarbarrera @estrattonbailey @jkadamczyk @brunobar79 
react-native.config.js @salman-rb @skylarbarrera @jkadamczyk @estrattonbailey

and long press copy
  src/components/asset-list/RecyclerAssetList2/profile-header/ProfileAvatarRow.tsx
Owners: none

fix: ignore untyped package
  src/components/qrcode-scanner/QRCodeScanner.tsx
  src/screens/QRScannerScreen.tsx
Owners: none

lots of LearnCard progress, need to fix shadows
  src/components/cards/GenericCard.tsx
  src/components/cards/LearnCard.tsx
  src/components/empty-wallet/EmptyWalletScreen.tsx
  src/hooks/useDimensions.ts
  src/languages/_english.json
Owners: none

silence bad ts error
  src/components/list/NoResults.tsx
Owners: none

Token expanded state should show additional asset data on L2s/sidechains
  src/components/expanded-state/asset/ChartExpandedState.js
  src/handlers/dispersion.ts
  src/hooks/useAdditionalAssetData.ts
Owners: none

fix sticky header
  src/components/asset-list/RecyclerAssetList2/index.tsx
  src/components/asset-list/RecyclerAssetList2/profile-header/ProfileStickyHeader.tsx
Owners: none

increase tap target
  src/components/asset-list/RecyclerAssetList2/profile-header/ProfileNameRow.tsx
Owners: none

fix onpress for android on tx screen
  src/components/profile/AvatarCircle.js
  src/hooks/useOnAvatarPress.ts
Owners: none

feat: replace old logger in model/keychain (#4303)
  src/model/keychain.ts
Owners: @brunobar79, @estebanmino, @salman-rb, @estrattonbailey, @skylarbarrera

fix remaining issues
  src/components/asset-list/RecyclerAssetList2/index.tsx
  src/components/asset-list/RecyclerAssetList2/profile-header/ProfileStickyHeader.tsx
  src/screens/WalletScreen.js
Owners: none

Revert "Remove a thread blocking behavior in `react-native-keychain` (#4025)" (#4302)
  android/app/src/main/java/me/rainbow/MainApplication.java
  android/app/src/main/java/me/rainbow/NativeModules/RNStartTime/RNStartTimePackage.java
  config/test/jest-setup.js
  metro.transform.js
  package.json
  patches/react-native-keychain+8.0.0.patch
  src/model/backup.ts
  src/model/keychain.ts
  src/model/wallet.ts
  yarn.lock
Owners: @brunobar79, @jkadamczyk, @skylarbarrera, @estrattonbailey, @salman-rb, @estebanmino

Two fixes for release (#4305)
  src/components/discover-sheet/DiscoverSearch.js
  src/components/exchange/ExchangeAssetList.tsx
  src/components/list/NoResults.tsx
Owners: none

Code review feedback
  src/components/expanded-state/asset/ChartExpandedState.js
  src/handlers/dispersion.ts
  src/hooks/useAdditionalAssetData.ts
Owners: none

working on receive assets card
  src/components/cards/GenericCard.tsx
  src/components/cards/ReceiveAssetsCard.tsx
  src/components/empty-wallet/EmptyWalletScreen.tsx
  src/design-system/color/palettes.ts
Owners: @jxom, @estrattonbailey

hide flashbots protect detail row when swapping L2s
  src/components/expanded-state/swap-details/SwapDetailsContent.js
  src/languages/_english.json
  src/languages/_french.json
Owners: none

Background color on the 'continue with {network}' was wrong
  src/screens/ExplainSheet.js
Owners: none

hide flashbots protect detail row when swapping L2s (#4309)
  src/components/expanded-state/swap-details/SwapDetailsContent.js
  src/languages/_english.json
  src/languages/_french.json
Owners: none

use const
  src/components/asset-list/RecyclerAssetList2/core/ViewDimensions.tsx
Owners: none

fix weird onpress bs
  src/components/asset-list/RecyclerAssetList2/profile-header/ProfileNameRow.tsx
  src/components/asset-list/RecyclerAssetList2/profile-header/ProfileStickyHeader.tsx
Owners: none

fix edit mode sticky header ios
  src/components/coin-divider/CoinDivider.js
Owners: none

feat: make i18n type-safe
  src/languages/__tests__/index.test.ts
  src/languages/__tests__/utils.test.ts
  src/languages/index.js
  src/languages/index.ts
  src/languages/utils.ts
Owners: @salman-rb, @estrattonbailey, @jkadamczyk, @skylarbarrera

fix: increase type correctness
  src/hooks/useAccountSettings.ts
  src/languages/index.ts
  src/redux/settings.ts
Owners: none

fix: add tests
  src/languages/__tests__/utils.test.ts
Owners: none

Updated it to match correct design
  src/screens/ExplainSheet.js
Owners: none

feat: Token expanded state should show additional asset data on L2s/sidechains (#4308)
  src/components/expanded-state/asset/ChartExpandedState.js
  src/handlers/dispersion.ts
  src/hooks/useAdditionalAssetData.ts
Owners: none

feat: async init App (#4306)
  index.js
  src/App.js
  src/init.ts
Owners: @salman-rb, @estrattonbailey, @jkadamczyk, @skylarbarrera
