Repository rainbow-me/rainbow, changes with the owners that CODEOWNERS names for each.
All owners: @walmat, @benisgold, @jinchung, @brunobar79, @nickbytes, @estebanmino

CODEOWNERS:

# Rainbow CODEOWNERS file
CODEOWNERS  @walmat @benisgold @jinchung
LICENSE @jinchung @brunobar79 @nickbytes @estebanmino
README.md @nickbytes  @walmat @benisgold @jinchung
app.json  @walmat @benisgold @jinchung

# ANDROID
android/

# IOS
ios/ @walmat @benisgold 

# SECURITY / APP INFRA
patches/ @walmat @benisgold
scripts/

# DESIGN SYSTEM
src/design-system @walmat @benisgold

# Handlers
src/handlers/aesEncryption.ts @jinchung
src/handlers/authentication.ts @jinchung
src/handlers/cloudBackup.ts @jinchung

# Model
src/model/backup.ts  @jinchung
src/model/keychain.ts  @jinchung
src/model/migrations.ts  @walmat @benisgold @jinchung
src/model/wallet.ts  @jinchung

# redux
src/redux/gas.ts @walmat @benisgold @jinchung

# navigation
src/navigation @walmat @benisgold

# analytics & logging
src/analytics @walmat @benisgold

# APP INFRA
package.json  @walmat @benisgold @jinchung
.eslintignore  @walmat @benisgold @jinchung
.eslintrc.js  @walmat @benisgold @jinchung
.gitattributes  @walmat @benisgold @jinchung
.gitignore  @walmat @benisgold @jinchung
.nvmrc  @walmat @benisgold @jinchung
.prettierrc.js  @walmat @benisgold @jinchung
.yarnrc @walmat @benisgold @jinchung
audit-ci.json  @walmat @benisgold @jinchung
babel.config.js 
globals.d.ts @walmat @benisgold
yarn.lock  @walmat @benisgold @jinchung
tsconfig.json  @walmat @benisgold @jinchung
hardhat.config.js  @jinchung

# APP INFRA
globalVariables.js @walmat @benisgold
shim.js  
index.js  @walmat @benisgold
src/App.js  @walmat @benisgold @jinchung

# SECURITY / APP INFRA
metro.config.js @walmat @benisgold 
metro.transform.js @walmat @benisgold 
react-native.config.js  @walmat @benisgold

# DAPP BROWSER
src/browser @brunobar79 @benisgold
src/screens/dapp-browser @brunobar79 @benisgold
src/components/DappBrowser @brunobar79 @benisgold

fix warning being leftover from previously opened screen
  src/__swaps__/screens/Swap/hooks/useSwapWarning.ts
Owners: none

add more resets
  src/__swaps__/screens/Swap/components/UserAssetsSync.tsx
  src/__swaps__/screens/Swap/hooks/useCleanupOnExit.ts
  src/__swaps__/screens/Swap/hooks/useSwapInputsController.ts
Owners: none

keep inputAsset in sync with user assets in background
  src/__swaps__/screens/Swap/components/UserAssetsSync.tsx
Owners: none

fix naming inconsistency in chain selector
  src/__swaps__/screens/Swap/components/TokenList/ChainSelection.tsx
Owners: none

fix (#5761)
  src/hooks/useUniqueToken.ts
Owners: none

chore: i18n updates (#5762)
  src/languages/ar_AR.json
  src/languages/es_419.json
  src/languages/fr_FR.json
  src/languages/hi_IN.json
  src/languages/id_ID.json
  src/languages/ja_JP.json
  src/languages/ko_KR.json
  src/languages/pt_BR.json
  src/languages/ru_RU.json
  src/languages/th_TH.json
  src/languages/tr_TR.json
  src/languages/zh_CN.json
Owners: none

fix (#5758)
  src/__swaps__/screens/Swap/components/CoinRow.tsx
Owners: none

APP-1500 (#5763)
  src/screens/SignTransactionSheet.tsx
Owners: none

aaaaaa
  src/__swaps__/screens/Swap/components/GasButton.tsx
  src/__swaps__/screens/Swap/components/GasPanel.tsx
  src/__swaps__/screens/Swap/components/ReviewPanel.tsx
  src/__swaps__/screens/Swap/hooks/useCustomGas.ts
  src/__swaps__/screens/Swap/hooks/useEstimatedGasFee.ts
  src/__swaps__/screens/Swap/hooks/useSwapEstimatedGasLimit.ts
  src/__swaps__/screens/Swap/hooks/useSwapNavigation.ts
  src/__swaps__/types/gas.ts
  src/__swaps__/utils/meteorology.ts
Owners: none

consolidated verified assets fetches (#5759)
  src/__swaps__/screens/Swap/hooks/useSearchCurrencyLists.ts
  src/__swaps__/screens/Swap/resources/search/index.ts
Owners: none

cleanup
  src/__swaps__/screens/Swap/components/CleanupAssetsOnUnmount.tsx
  src/__swaps__/screens/Swap/hooks/usePrefillAssets.ts
Owners: none

fix chain name in asset to sell list not changing
  src/__swaps__/screens/Swap/components/TokenList/ChainSelection.tsx
  src/__swaps__/screens/Swap/hooks/useCleanupOnExit.ts
  src/__swaps__/screens/Swap/providers/swap-provider.tsx
  src/navigation/Routes.android.tsx
  src/navigation/Routes.ios.tsx
Owners: @walmat, @benisgold

prefer local chain image over custom
  src/__swaps__/screens/Swap/components/AnimatedChainImage.tsx
Owners: none

.
  e2e/7_maliciousDappConnection.spec.ts
  e2e/helpers.ts
  ios/Rainbow.xcodeproj/project.pbxproj
  src/components/DappBrowser/DappBrowser.tsx
  src/components/DappBrowser/search-input/SearchInput.tsx
  src/config/experimental.ts
Owners: @walmat, @benisgold, @brunobar79

uhu
  src/__swaps__/screens/Swap/components/GasButton.tsx
  src/__swaps__/screens/Swap/components/GasPanel.tsx
  src/__swaps__/utils/meteorology.ts
Owners: none

fix isQuoteStale lag (#5769)
  src/__swaps__/screens/Swap/components/SwapNumberPad.tsx
Owners: none

filter out assets from curated assets with no icon_url (#5768)
  src/__swaps__/screens/Swap/components/TokenList/TokenToBuySection.tsx
  src/__swaps__/screens/Swap/hooks/useSearchCurrencyLists.ts
  src/__swaps__/screens/Swap/resources/_selectors/search.ts
  src/__swaps__/screens/Swap/resources/search/index.ts
Owners: none

add prefill entry point from asset charts
  src/__swaps__/screens/Swap/components/SwapNumberPad.tsx
  src/components/sheet/sheet-action-buttons/SwapActionButton.js
Owners: none

fix
  src/__swaps__/safe-math/SafeMath.ts
Owners: none

stash changes
  src/components/sheet/sheet-action-buttons/SwapActionButton.js
Owners: none

add border back to review gas button
  src/__swaps__/screens/Swap/components/GasButton.tsx
Owners: none

remove color todo tags
  src/__swaps__/screens/Swap/components/GasPanel.tsx
Owners: none

gasPrice
  src/__swaps__/screens/Swap/components/GasPanel.tsx
  src/__swaps__/screens/Swap/hooks/useCustomGas.ts
  src/__swaps__/utils/meteorology.ts
Owners: none

wrap in InteractionManager
  src/components/asset-list/RecyclerAssetList2/profile-header/ProfileActionButtonsRow.tsx
  src/components/sheet/sheet-action-buttons/SwapActionButton.js
Owners: none

add safe math fns (#5765)
  src/__swaps__/safe-math/SafeMath.ts
  src/__swaps__/safe-math/__tests__/SafeMath.test.ts
Owners: none

prefer local chain image over custom (#5772)
  src/__swaps__/screens/Swap/components/AnimatedChainImage.tsx
Owners: none

add degen chain to network selector (#5766)
  src/references/index.ts
Owners: none

Gas (#5757)
  src/__swaps__/screens/Swap/components/GasButton.tsx
  src/__swaps__/screens/Swap/components/GasPanel.tsx
  src/__swaps__/screens/Swap/components/ReviewPanel.tsx
  src/__swaps__/screens/Swap/components/SwapBottomPanel.tsx
  src/__swaps__/screens/Swap/hooks/formatNumber.ts
  src/__swaps__/screens/Swap/hooks/useCustomGas.ts
  src/__swaps__/screens/Swap/hooks/useEstimatedGasFee.ts
  src/__swaps__/screens/Swap/hooks/useSelectedGas.ts
  src/__swaps__/screens/Swap/hooks/useSwapEstimatedGasLimit.ts
  src/__swaps__/screens/Swap/hooks/useSwapGas.ts
  src/__swaps__/screens/Swap/hooks/useSwapNavigation.ts
  src/__swaps__/screens/Swap/providers/swap-provider.tsx
  src/__swaps__/types/gas.ts
  src/__swaps__/utils/meteorology.ts
  src/raps/unlockAndCrosschainSwap.ts
  src/raps/unlockAndSwap.ts
  src/references/supportedCurrencies.ts
  src/state/swaps/swapsStore.ts
Owners: none

.
  e2e/7_maliciousDappConnection.spec.ts
  e2e/init.js
  ios/Rainbow.xcodeproj/project.pbxproj
Owners: @walmat, @benisgold

lots of refactoring
  src/__swaps__/screens/Swap/components/CoinRow2.tsx
  src/__swaps__/screens/Swap/components/SearchInput.tsx
  src/__swaps__/screens/Swap/components/TokenList/ChainSelection.tsx
  src/__swaps__/screens/Swap/components/TokenList/TokenToSellList.tsx
  src/__swaps__/screens/Swap/components/UserAssetsSync.tsx
  src/__swaps__/screens/Swap/hooks/useAssetsToSell.ts
  src/__swaps__/screens/Swap/hooks/useSearchCurrencyLists.ts
  src/state/assets/userAssets.ts
  src/state/swaps/swapsStore.ts
Owners: none
