Repository rainbow-me/rainbow, changes with the owners that CODEOWNERS names for each.
All owners: @brunobar79, @osdnk, @terrysahaidak, @estebanmino, @nickbytes, @markdalgleish, @jxom, @skylarbarrera, @derHowie, @estrattonbailey, @jinchung

CODEOWNERS:

# Rainbow CODEOWNERS file

# ANDROID
android/ @brunobar79 @osdnk @terrysahaidak @estebanmino

# IOS
ios/ @brunobar79 @osdnk

# SECURITY / APP INFRA
patches/ @brunobar79 @osdnk @estebanmino @nickbytes
scripts/ @brunobar79 @osdnk @estebanmino

# DESIGN SYSTEM
src/design-system @markdalgleish @jxom

# Handlers
src/handlers/aesEncryption.ts @brunobar79 @estebanmino
src/handlers/authentication.ts @brunobar79 @estebanmino
src/handlers/cloudBackup.ts @brunobar79 @skylarbarrera @estebanmino
src/handlers/fedora.ts @osdnk @estebanmino @terrysahaidak

# Model
src/model/backup.ts @brunobar79 @estebanmino
src/model/keychain.ts @brunobar79 @estebanmino
src/model/migrations.ts @brunobar79 @estebanmino
src/model/wallet.ts @brunobar79 @estebanmino

# redux
src/redux/gas.ts @brunobar79 @estebanmino
src/redux/nonceManager.ts @derHowie @brunobar79 @estebanmino

# APP INFRA
.eslintignore @brunobar79 @osdnk @estebanmino @estrattonbailey
.eslintrc.js @brunobar79 @osdnk @estebanmino @estrattonbailey
.gitattributes @brunobar79 @estebanmino
.gitignore @brunobar79 @estebanmino
.nvmrc @brunobar79 @osdnk @estebanmino
.prettierrc.js @brunobar79 @osdnk @estebanmino
.watchmanconfig @brunobar79 @osdnk @estebanmino

# SECURITY / APP INFRA
.yarnrc @brunobar79 @estebanmino

# APP INFRA
app.json @brunobar79 @estebanmino

# SECURITY / APP INFRA
audit-ci.json @brunobar79 @skylarbarrera @estebanmino @nickbytes

# APP INFRA
babel.config.js @brunobar79 @osdnk @estebanmino
CODEOWNERS @brunobar79 @estebanmino @nickbytes
globals.d.ts @brunobar79 @osdnk @estebanmino
globalVariables.js @brunobar79 @osdnk @estebanmino

# HARDHAT
hardhat.config.js @brunobar79 @estebanmino

# APP CORE
index.js @brunobar79 @estebanmino @nickbytes

# LEGAL
LICENSE @jinchung @brunobar79 @nickbytes @estebanmino

# SECURITY / APP INFRA
metro.config.js @brunobar79 @osdnk @terrysahaidak @estebanmino
metro.transform.js @brunobar79 @osdnk @estebanmino
package.json @brunobar79 @estebanmino @nickbytes

# APP INFRA
react-native.config.js @brunobar79 @estebanmino
README.md @brunobar79 @estebanmino @nickbytes
shim.js @brunobar79 @osdnk @estebanmino @nickbytes
tsconfig.json @brunobar79 @osdnk @estebanmino @nickbytes

# SECURITY / APP INFRA
yarn.lock @brunobar79 @estebanmino @nickbytes

Add a warning about importing directly from react-navigation
  .eslintrc.js
Owners: @brunobar79, @osdnk, @estebanmino, @estrattonbailey

feat: always sync hidden NFTs to remote db (#4072)
  src/hooks/useWebData.ts
Owners: none

center InfoRows between buttons and header. also decrease bottom padding of buttons for androids
  src/components/promos/PromoSheet.tsx
Owners: none

Fix secret phrase display on Android
  src/components/secret-display/SecretDisplayCard.tsx
  src/components/settings-menu/BackupSection/AlreadyBackedUpView.tsx
Owners: none

Update ‘view secret phrase’ btn color in dark mode
  src/components/settings-menu/BackupSection/AlreadyBackedUpView.tsx
Owners: none

Fix biometrics explainer layout
  src/components/secret-display/SecretDisplaySection.tsx
Owners: none

Fix contact row avatar glitches
  src/components/contacts/ContactAvatar.js
Owners: none

WIP
  src/graphql/ens.graphql
  src/graphql/fetchers.ts
  src/graphql/utils/getFetchRequester.ts
Owners: none

wip: setup codegen
  .eslintrc.js
  package.json
  src/graphql/.eslintrc.js
  src/graphql/codegen.yml
  src/graphql/ens.graphql
  src/graphql/fetchers.ts
  src/graphql/package.json
  src/graphql/schemas.js
  src/graphql/yarn.lock
Owners: @brunobar79, @osdnk, @estebanmino, @estrattonbailey, @nickbytes

wip: migrate fetchAccountDomains
  src/handlers/ens.ts
  src/handlers/localstorage/ens.ts
  src/hooks/useAccountENSDomains.ts
  src/hooks/useTrackENSProfile.ts
Owners: none

wip: migrate fetchEnsTokens
  src/handlers/ens.ts
Owners: none

Add foundations of graphql codegen
  .eslintrc.js
  .gitignore
  package.json
  src/graphql/.eslintrc.js
  src/graphql/codegen.config.js
  src/graphql/index.ts
  src/graphql/package.json
  src/graphql/queries/ens.graphql
  src/graphql/queries/metadata.graphql
  src/graphql/schemas.js
  src/graphql/utils/getFetchRequester.ts
  src/graphql/yarn.lock
Owners: @brunobar79, @osdnk, @estebanmino, @estrattonbailey, @nickbytes

refactor
  .eslintignore
  src/graphql/.eslintrc.js
  src/graphql/README.md
  src/graphql/codegen.config.js
  src/graphql/config.js
  src/graphql/index.ts
  src/graphql/schemas.js
Owners: @brunobar79, @osdnk, @estebanmino, @estrattonbailey, @nickbytes

wip: migrate fetchEnsTokens & fetchAccountDomains
  src/handlers/ens.ts
  src/handlers/localstorage/ens.ts
  src/hooks/useAccountENSDomains.ts
  src/hooks/useTrackENSProfile.ts
Owners: none

refactor
  src/graphql/README.md
  src/graphql/codegen.config.js
  src/graphql/config.js
  src/graphql/index.ts
Owners: @brunobar79, @estebanmino, @nickbytes
