Repository rainbow-me/rainbow, changes with the owners that CODEOWNERS names for each.
All owners: @salman-rb, @estrattonbailey, @skylarbarrera, @jinchung, @brunobar79, @nickbytes, @estebanmino, @jkadamczyk, @benisgold, @derHowie

CODEOWNERS:

# Rainbow CODEOWNERS file
CODEOWNERS @salman-rb @estrattonbailey @skylarbarrera @jinchung
LICENSE @jinchung @brunobar79 @nickbytes @estebanmino
README.md @nickbytes @salman-rb @estrattonbailey @skylarbarrera @jinchung
app.json @salman-rb @estrattonbailey @skylarbarrera @jinchung

# ANDROID
android/ @jkadamczyk @skylarbarrera

# IOS
ios/ @benisgold @salman-rb @skylarbarrera

# SECURITY / APP INFRA
patches/ @estrattonbailey @skylarbarrera
scripts/ @jkadamczyk @skylarbarrera

# DESIGN SYSTEM
src/design-system @estrattonbailey @benisgold

# Handlers
src/handlers/aesEncryption.ts @jinchung
src/handlers/authentication.ts @jinchung
src/handlers/cloudBackup.ts @skylarbarrera @jkadamczyk @jinchung

# Model
src/model/backup.ts @salman-rb @jkadamczyk @jinchung
src/model/keychain.ts @salman-rb @estrattonbailey @skylarbarrera @jinchung
src/model/migrations.ts @salman-rb @estrattonbailey @skylarbarrera @jinchung
src/model/wallet.ts @salman-rb @estrattonbailey @skylarbarrera @jinchung

# redux
src/redux/gas.ts @skylarbarrera @estrattonbailey @jinchung
src/redux/nonceManager.ts @derHowie @skylarbarrera @estrattonbailey @jinchung

# navigation
src/navigation @jkadamczyk @skylarbarrera @estrattonbailey

# analytics & logging
src/analytics @estrattonbailey @skylarbarrera

# APP INFRA
package.json @salman-rb @skylarbarrera @estrattonbailey @jinchung
.eslintignore @salman-rb @estrattonbailey @skylarbarrera @jinchung
.eslintrc.js @salman-rb @estrattonbailey @skylarbarrera @jinchung
.gitattributes @salman-rb @estrattonbailey @skylarbarrera @jinchung
.gitignore @salman-rb @estrattonbailey @skylarbarrera @jinchung
.nvmrc @salman-rb @estrattonbailey @skylarbarrera @jinchung
.prettierrc.js @salman-rb @estrattonbailey @skylarbarrera @jinchung
.yarnrc @estrattonbailey @skylarbarrera @jinchung
audit-ci.json @salman-rb @skylarbarrera @estrattonbailey @jinchung
babel.config.js @estrattonbailey @jkadamczyk @skylarbarrera
globals.d.ts @estrattonbailey @skylarbarrera
yarn.lock @salman-rb @estrattonbailey @skylarbarrera @jinchung
tsconfig.json @salman-rb @estrattonbailey @skylarbarrera @jinchung
hardhat.config.js @salman-rb @skylarbarrera @jinchung

# APP INFRA
globalVariables.js @estrattonbailey @skylarbarrera
shim.js @salman-rb @estrattonbailey @skylarbarrera @jkadamczyk
index.js @salman-rb @estrattonbailey @jkadamczyk @skylarbarrera
src/App.js @salman-rb @estrattonbailey @skylarbarrera @jinchung

# SECURITY / APP INFRA
metro.config.js @skylarbarrera @estrattonbailey @jkadamczyk
metro.transform.js @skylarbarrera @estrattonbailey @jkadamczyk
react-native.config.js @salman-rb @skylarbarrera @jkadamczyk @estrattonbailey

fix: podfile bump
  ios/Podfile.lock
Owners: @benisgold, @salman-rb, @skylarbarrera

ez fix
  src/components/expanded-state/swap-details/SwapDetailsExchangeRow.js
Owners: none

feat: add f2c resource
  src/redux/data.ts
  src/resources/f2c/index.ts
  src/screens/AddCash/providers/Ratio/index.tsx
Owners: none

update
  ios/Podfile.lock
  ios/Rainbow.xcodeproj/project.pbxproj
Owners: @benisgold, @salman-rb, @skylarbarrera

done
  src/resources/nfts/simplehash/index.ts
Owners: none

refresh
  src/components/expanded-state/unique-token/UniqueTokenExpandedStateHeader.tsx
  src/languages/_english.json
  src/languages/_french.json
  src/resources/nfts/simplehash/index.ts
Owners: none

Revert "Fix develop (#4806)" (#4821)
  ios/Podfile.lock
  ios/Rainbow.xcodeproj/project.pbxproj
  src/components/expanded-state/swap-details/SwapDetailsExchangeRow.js
Owners: @benisgold, @salman-rb, @skylarbarrera

fix: deeplinks for both OSs
  src/App.js
  src/handlers/deeplinks.ts
  src/logger/debugContext.ts
  src/utils/branch.ts
Owners: @salman-rb, @estrattonbailey, @skylarbarrera, @jinchung

fix: no need for specific android handling
  src/App.js
Owners: @salman-rb, @estrattonbailey, @skylarbarrera, @jinchung

fix: handle duplicate WC deeplinks
  src/handlers/deeplinks.ts
Owners: none

chore: add extra log
  src/App.js
Owners: @salman-rb, @estrattonbailey, @skylarbarrera, @jinchung

for skylar
  src/components/expanded-state/UniqueTokenExpandedState.tsx
  src/components/expanded-state/unique-token/UniqueTokenExpandedStateHeader.tsx
  src/components/toasts/RefreshMetadataToast.tsx
  src/resources/nfts/simplehash/index.ts
  src/screens/AddCash/index.tsx
Owners: none

done
  src/components/expanded-state/UniqueTokenExpandedState.tsx
  src/components/expanded-state/unique-token/UniqueTokenExpandedStateHeader.tsx
  src/resources/nfts/simplehash/index.ts
Owners: none

lint
  src/components/expanded-state/UniqueTokenExpandedState.tsx
Owners: none

feat: add Moonpay & Coinbase buttons, update to use Ramp API
  src/components/icons/svg/Coinbase.tsx
  src/components/icons/svg/Moonpay.tsx
  src/entities/f2c.ts
  src/resources/f2c/index.ts
  src/screens/AddCash/components/ProviderCard.tsx
  src/screens/AddCash/index.tsx
  src/screens/AddCash/providers/Coinbase/index.tsx
  src/screens/AddCash/providers/Moonpay/index.tsx
Owners: none

lil tweak
  src/components/expanded-state/unique-token/UniqueTokenExpandedStateHeader.tsx
Owners: none

migration
  src/model/migrations.ts
Owners: @salman-rb, @estrattonbailey, @skylarbarrera, @jinchung

lint
  src/components/asset-list/RecyclerAssetList2/WrappedNFT.tsx
Owners: none

fix: deeplinks (#4790)
  src/App.js
  src/handlers/deeplinks.ts
  src/logger/debugContext.ts
  src/utils/branch.ts
Owners: @salman-rb, @estrattonbailey, @skylarbarrera, @jinchung
