Repository rainbow-me/rainbow, changes with the owners that CODEOWNERS names for each.
All owners: @benisgold, @skylarbarrera, @jinchung, @brunobar79, @nickbytes, @estebanmino, @derHowie

rm RDS from Offer
  src/components/cards/NFTOffersCard/Offer.tsx
  src/components/cards/NFTOffersCard/index.tsx
  src/components/nft-offers/SortMenu.tsx
  src/graphql/index.ts
  src/graphql/queries/arc.graphql
  src/resources/nftOffers/index.ts
  src/screens/NFTOffersSheet/index.tsx
  src/screens/NFTSingleOfferSheet/index.tsx
Owners: none

ios done
  src/assets/offerMask.png
  src/assets/offerMask@2x.png
  src/assets/offerMask@3x.png
  src/assets/offerRowMask.png
  src/assets/offerRowMask@2x.png
  src/assets/offerRowMask@3x.png
  src/components/cards/NFTOffersCard/Offer.tsx
  src/components/cards/NFTOffersCard/index.tsx
  src/screens/NFTOffersSheet/OfferRow.tsx
  src/screens/NFTOffersSheet/index.tsx
Owners: none

lint
  src/graphql/queries/arc.graphql
  src/screens/mints/PoapSheet.tsx
Owners: none

lint
  src/components/cards/NFTOffersCard/index.tsx
Owners: none

patches
  patches/react-native-aes-crypto+2.0.2.patch
  patches/react-native-cloud-fs+2.6.1.patch
  patches/react-native-keyboard-area+1.0.6.patch
  patches/react-native-plaid-link-sdk+9.1.0.patch
Owners: @benisgold, @skylarbarrera

useCollectible fix
  src/hooks/useCollectible.ts
Owners: none

lowercase poap checks
  src/hooks/useScanner.ts
Owners: none

OP gas: rm 1559 gas params
  src/utils/ethereumUtils.ts
Owners: none

tweaks
  src/components/cards/NFTOffersCard/index.tsx
  src/screens/NFTOffersSheet/index.tsx
Owners: none

NFT Offers Fixes (#4945)
  ios/Podfile.lock
  ios/Rainbow.xcodeproj/project.pbxproj
  package.json
  src/assets/offerMask.png
  src/assets/offerMask@2x.png
  src/assets/offerMask@3x.png
  src/assets/offerRowMask.png
  src/assets/offerRowMask@2x.png
  src/assets/offerRowMask@3x.png
  src/components/cards/NFTOffersCard/Offer.tsx
  src/components/cards/NFTOffersCard/index.tsx
  src/components/nft-offers/SortMenu.tsx
  src/components/unique-token/UniqueTokenCard.js
  src/languages/_english.json
  src/languages/_french.json
  src/resources/nftOffers/index.ts
  src/resources/nfts/index.ts
  src/screens/NFTOffersSheet/OfferRow.tsx
  src/screens/NFTOffersSheet/index.tsx
  src/screens/NFTSingleOfferSheet/index.tsx
  yarn.lock
Owners: @benisgold, @skylarbarrera, @jinchung

nftsMap returned by useLegacyNFTs (#4943)
  ios/Podfile.lock
  ios/Rainbow.xcodeproj/project.pbxproj
  package.json
  src/assets/offerMask.png
  src/assets/offerMask@2x.png
  src/assets/offerMask@3x.png
  src/assets/offerRowMask.png
  src/assets/offerRowMask@2x.png
  src/assets/offerRowMask@3x.png
  src/components/cards/NFTOffersCard/Offer.tsx
  src/components/cards/NFTOffersCard/index.tsx
  src/components/ens-profile/ProfileSheetHeader.tsx
  src/components/expanded-state/ens/InfoRow.tsx
  src/components/nft-offers/SortMenu.tsx
  src/components/unique-token/UniqueTokenCard.js
  src/graphql/queries/arc.graphql
  src/hooks/useCollectible.ts
  src/hooks/useENSModifiedRegistration.ts
  src/hooks/useENSPendingRegistrations.tsx
  src/hooks/useExternalWalletSectionsData.ts
  src/hooks/useSendableUniqueTokens.ts
  src/hooks/useWalletSectionsData.ts
  src/languages/_english.json
  src/languages/_french.json
  src/resources/nftOffers/index.ts
  src/resources/nfts/index.ts
  src/screens/NFTOffersSheet/OfferRow.tsx
  src/screens/NFTOffersSheet/index.tsx
  src/screens/NFTSingleOfferSheet/index.tsx
  src/screens/ShowcaseSheet.js
  src/screens/discover/components/DiscoverHome.js
  src/screens/mints/PoapSheet.tsx
  yarn.lock
Owners: @benisgold, @skylarbarrera, @jinchung

party logo
  src/assets/partyLogo.png
  src/assets/partyLogo@2x.png
  src/assets/partyLogo@3x.png
Owners: none

lowercase poap checks (#4961)
  src/hooks/useScanner.ts
Owners: none

OP gas: rm 1559 gas params (#4962)
  src/utils/ethereumUtils.ts
Owners: none

fix
  src/components/cards/NFTOffersCard/Offer.tsx
  src/screens/mints/PoapSheet.tsx
Owners: none

add party link (#4957)
  src/assets/partyLogo.png
  src/assets/partyLogo@2x.png
  src/assets/partyLogo@3x.png
  src/components/expanded-state/UniqueTokenExpandedState.tsx
Owners: none

fix (#4963)
  src/components/cards/NFTOffersCard/Offer.tsx
  src/screens/mints/PoapSheet.tsx
Owners: none

Revert "improve gas estimates (#4922)"
  src/handlers/web3.ts
  src/screens/TransactionConfirmationScreen.js
Owners: none

Revert "improve gas estimates (#4922)"
  src/handlers/web3.ts
  src/screens/TransactionConfirmationScreen.js
Owners: none

functional
  ios/Rainbow.xcodeproj/project.pbxproj
  package.json
  src/App.js
  src/screens/NFTSingleOfferSheet/index.tsx
  yarn.lock
Owners: @benisgold, @skylarbarrera, @jinchung

nav to tx list
  src/screens/NFTSingleOfferSheet/index.tsx
Owners: none

fix WC gas issues
  src/handlers/web3.ts
  src/parsers/requests.js
  src/screens/TransactionConfirmationScreen.js
  src/utils/ethereumUtils.ts
Owners: none

fix chain badge & properties
  src/components/L2Disclaimer.js
  src/components/coin-icon/ChainBadge.js
  src/components/expanded-state/UniqueTokenExpandedState.tsx
Owners: none

pass prop
  src/components/expanded-state/UniqueTokenExpandedState.tsx
Owners: none

bump wc deps (#4958)
  package.json
  yarn.lock
Owners: @skylarbarrera, @benisgold, @jinchung

rug bsc
  src/components/exchange/NetworkSwitcherv2.tsx
Owners: none

bump wc deps (#4958)
  package.json
  yarn.lock
Owners: @skylarbarrera, @benisgold, @jinchung

tweak
  src/screens/TransactionConfirmationScreen.js
  src/utils/ethereumUtils.ts
Owners: none

remove cancel bs
  src/screens/TransactionConfirmationScreen.js
Owners: none

use network config for native assets
  src/handlers/assets.ts
Owners: none

WC: fix gas estimation issues (#4966)
  src/handlers/web3.ts
  src/parsers/requests.js
  src/screens/TransactionConfirmationScreen.js
  src/utils/ethereumUtils.ts
Owners: none

aff l1 fee to calc
  src/hooks/useGas.ts
  src/hooks/useMaxInputBalance.ts
  src/hooks/useSwapInputHandlers.ts
  src/utils/ethereumUtils.ts
Owners: none

send: fix max send on base & zora (#4969)
  src/handlers/assets.ts
  src/hooks/useGas.ts
  src/hooks/useMaxInputBalance.ts
  src/hooks/useSwapInputHandlers.ts
  src/utils/ethereumUtils.ts
Owners: none

add sorting + better default order
  src/components/exchange/NetworkSwitcherv2.tsx
  src/networks/index.ts
  src/redux/data.ts
  src/storage/index.ts
  src/storage/schema.ts
Owners: none

let users disable networks
  src/components/exchange/NetworkSwitcherv2.tsx
  src/components/expanded-state/AvailableNetworksv2.tsx
  src/hooks/useAccountTransactions.ts
  src/hooks/useAssetsInWallet.js
  src/hooks/useSendableUniqueTokens.ts
  src/hooks/useSortedAccountAssets.ts
  src/hooks/useSwappableUserAssets.ts
  src/hooks/useWalletSectionsData.ts
  src/languages/_english.json
  src/languages/_french.json
  src/networks/gnosis.ts
  src/networks/index.ts
  src/resources/defi/PositionsQuery.ts
  src/resources/nftOffers/index.ts
  src/screens/SettingsSheet/SettingsPages.ts
  src/screens/SettingsSheet/components/NetworkSection.tsx
  src/screens/SettingsSheet/components/SettingsSection.tsx
  src/storage/schema.ts
Owners: none

add migration
  src/migrations/index.ts
  src/migrations/migrations/addNetworksUserConfig.ts
  src/migrations/types.ts
Owners: none

ts
  src/hooks/useAccountTransactions.ts
Owners: none

stuff
  src/components/coin-row/FastTransactionCoinRow.tsx
  src/entities/transactions/transaction.ts
  src/entities/transactions/transactionStatus.ts
  src/entities/transactions/transactionType.ts
  src/entities/uniqueAssets.ts
  src/helpers/transactions.ts
  src/parsers/newTransaction.ts
  src/parsers/transactions.ts
  src/redux/data.ts
  src/resources/nfts/simplehash/utils.ts
  src/screens/NFTSingleOfferSheet/index.tsx
  src/screens/transaction-details/components/TransactionDetailsHashAndActionsSection.tsx
Owners: none

oops
  src/screens/SettingsSheet/components/NetworkSection.android.tsx
Owners: none

move inside
  src/components/exchange/NetworkSwitcherv2.tsx
Owners: none

CODEOWNERS:

# Rainbow CODEOWNERS file
CODEOWNERS  @benisgold @skylarbarrera @jinchung
LICENSE @jinchung @brunobar79 @nickbytes @estebanmino
README.md @nickbytes  @benisgold @skylarbarrera @jinchung
app.json  @benisgold @skylarbarrera @jinchung

# ANDROID
android/ @skylarbarrera

# IOS
ios/ @benisgold  @skylarbarrera

# SECURITY / APP INFRA
patches/ @benisgold @skylarbarrera
scripts/ @skylarbarrera

# DESIGN SYSTEM
src/design-system @skylarbarrera @benisgold

# Handlers
src/handlers/aesEncryption.ts @jinchung
src/handlers/authentication.ts @jinchung
src/handlers/cloudBackup.ts @skylarbarrera @jinchung

# Model
src/model/backup.ts  @jinchung @skylarbarrera
src/model/keychain.ts  @skylarbarrera @jinchung
src/model/migrations.ts  @benisgold @skylarbarrera @jinchung
src/model/wallet.ts  @skylarbarrera @jinchung

# redux
src/redux/gas.ts @skylarbarrera @benisgold @jinchung
src/redux/nonceManager.ts @derHowie @skylarbarrera @benisgold @jinchung

# navigation
src/navigation @skylarbarrera @benisgold

# analytics & logging
src/analytics @benisgold @skylarbarrera

# APP INFRA
package.json  @skylarbarrera @benisgold @jinchung
.eslintignore  @benisgold @skylarbarrera @jinchung
.eslintrc.js  @benisgold @skylarbarrera @jinchung
.gitattributes  @benisgold @skylarbarrera @jinchung
.gitignore  @benisgold @skylarbarrera @jinchung
.nvmrc  @benisgold @skylarbarrera @jinchung
.prettierrc.js  @benisgold @skylarbarrera @jinchung
.yarnrc @benisgold @skylarbarrera @jinchung
audit-ci.json  @skylarbarrera @benisgold @jinchung
babel.config.js  @skylarbarrera
globals.d.ts @benisgold @skylarbarrera
yarn.lock  @benisgold @skylarbarrera @jinchung
tsconfig.json  @benisgold @skylarbarrera @jinchung
hardhat.config.js  @skylarbarrera @jinchung

# APP INFRA
globalVariables.js @benisgold @skylarbarrera
shim.js  @skylarbarrera 
index.js  @benisgold @skylarbarrera
src/App.js  @benisgold @skylarbarrera @jinchung

# SECURITY / APP INFRA
metro.config.js @skylarbarrera @benisgold 
metro.transform.js @skylarbarrera @benisgold 
react-native.config.js  @skylarbarrera @benisgold
