Repository rainbow-me/rainbow, changes with the owners that CODEOWNERS names for each.
All owners: @walmat, @benisgold, @jinchung, @brunobar79, @nickbytes, @estebanmino

oops
  src/analytics/event.ts
  src/components/DappBrowser/Homepage.tsx
  src/state/browserHistory/index.ts
Owners: @walmat, @benisgold, @brunobar79

use chainId from input token
  src/__swaps__/screens/Swap/components/GasButton.tsx
  src/__swaps__/screens/Swap/components/GasPanel.tsx
  src/__swaps__/screens/Swap/hooks/useEstimatedGasFee.ts
  src/__swaps__/screens/Swap/hooks/useRouteNetwork.ts
  src/__swaps__/screens/Swap/hooks/useSwapEstimatedGasLimit.ts
Owners: none

hm
  src/__swaps__/screens/Swap/components/GasPanel.tsx
Owners: none

decimal separator
  src/__swaps__/screens/Swap/hooks/formatNumber.ts
Owners: none

fix
  src/__swaps__/screens/Swap/components/CoinRow.tsx
Owners: none

add gas fee to review panel
  src/__swaps__/screens/Swap/components/GasButton.tsx
  src/__swaps__/screens/Swap/components/ReviewPanel.tsx
Owners: none

consolidated verified assets fetches
  src/__swaps__/screens/Swap/hooks/useSearchCurrencyLists.ts
  src/__swaps__/screens/Swap/resources/search/index.ts
Owners: none

fix (#5758)
  src/__swaps__/screens/Swap/components/CoinRow.tsx
Owners: none

consolidated verified assets fetches (#5759)
  src/__swaps__/screens/Swap/hooks/useSearchCurrencyLists.ts
  src/__swaps__/screens/Swap/resources/search/index.ts
Owners: none

fix
  src/hooks/useUniqueToken.ts
Owners: none

chore: i18n updates
  src/languages/ar_AR.json
  src/languages/es_419.json
  src/languages/fr_FR.json
  src/languages/hi_IN.json
  src/languages/id_ID.json
  src/languages/ja_JP.json
  src/languages/ko_KR.json
  src/languages/pt_BR.json
  src/languages/ru_RU.json
  src/languages/th_TH.json
  src/languages/tr_TR.json
  src/languages/zh_CN.json
Owners: none

fix
  src/screens/SignTransactionSheet.tsx
Owners: none

fix (#5761)
  src/hooks/useUniqueToken.ts
Owners: none

optional chaining just in case
  src/screens/SignTransactionSheet.tsx
Owners: none

allow message signing tx w/o loaded balance/gas
  src/screens/SignTransactionSheet.tsx
Owners: none

.
  src/state/browserHistory/index.ts
Owners: none

.
  ios/Rainbow.xcodeproj/project.pbxproj
  src/screens/ReceiveModal.js
Owners: @walmat, @benisgold

.
  e2e/helpers.ts
  e2e/init.js
  ios/Rainbow.xcodeproj/project.pbxproj
Owners: @walmat, @benisgold

.
  e2e/7_maliciousDappConnection.spec.ts
Owners: none

oop
  src/screens/ReceiveModal.js
Owners: none

.
  ios/Rainbow.xcodeproj/project.pbxproj
Owners: @walmat, @benisgold

chore: i18n updates (#5762)
  src/languages/ar_AR.json
  src/languages/es_419.json
  src/languages/fr_FR.json
  src/languages/hi_IN.json
  src/languages/id_ID.json
  src/languages/ja_JP.json
  src/languages/ko_KR.json
  src/languages/pt_BR.json
  src/languages/ru_RU.json
  src/languages/th_TH.json
  src/languages/tr_TR.json
  src/languages/zh_CN.json
Owners: none

😕
  src/__swaps__/screens/Swap/components/GasButton.tsx
  src/__swaps__/screens/Swap/components/GasPanel.tsx
  src/__swaps__/screens/Swap/components/ReviewPanel.tsx
  src/__swaps__/screens/Swap/hooks/formatNumber.ts
  src/__swaps__/screens/Swap/hooks/useCustomGas.ts
  src/__swaps__/screens/Swap/hooks/useEstimatedGasFee.ts
  src/__swaps__/screens/Swap/hooks/useSelectedGas.ts
  src/__swaps__/screens/Swap/hooks/useSwapEstimatedGasLimit.ts
  src/__swaps__/screens/Swap/hooks/useSwapNavigation.ts
  src/__swaps__/utils/meteorology.ts
Owners: none

APP-1500 (#5763)
  src/screens/SignTransactionSheet.tsx
Owners: none

add safe math fns
  src/__swaps__/safe-math/SafeMath.ts
  src/__swaps__/safe-math/__tests__/SafeMath.test.ts
Owners: none

save
  src/__swaps__/screens/Swap/components/GasButton.tsx
  src/__swaps__/screens/Swap/components/GasPanel.tsx
  src/__swaps__/screens/Swap/hooks/useEstimatedGasFee.ts
Owners: none

Fix old Skia code
  src/screens/hardware-wallets/components/NanoXDeviceAnimation.tsx
Owners: none

add degen chain to network selector
  src/references/index.ts
Owners: none

added validation
  src/__swaps__/safe-math/SafeMath.ts
  src/__swaps__/safe-math/__tests__/SafeMath.test.ts
Owners: none

disabled typing in output fields when chainId is blast
  src/__swaps__/screens/Swap/components/SwapNumberPad.tsx
  src/__swaps__/screens/Swap/hooks/useSwapOutputQuotesDisabled.ts
  src/__swaps__/screens/Swap/providers/swap-provider.tsx
  src/__swaps__/utils/swaps.ts
Owners: none

filter out assets from curated assets with no icon_url
  src/__swaps__/screens/Swap/components/TokenList/TokenToBuySection.tsx
  src/__swaps__/screens/Swap/hooks/useSearchCurrencyLists.ts
  src/__swaps__/screens/Swap/resources/_selectors/search.ts
  src/__swaps__/screens/Swap/resources/search/index.ts
Owners: none

fix isQuoteStale lag
  src/__swaps__/screens/Swap/components/SwapNumberPad.tsx
Owners: none

Preliminary work: Update formatter functions to take in object params (#5760)
  src/__swaps__/screens/Swap/components/ExchangeRateBubble.tsx
  src/__swaps__/screens/Swap/hooks/useSwapInputsController.ts
  src/__swaps__/utils/swaps.ts
Owners: none

fix icon sizing
  src/__swaps__/screens/Swap/components/SwapInputAsset.tsx
  src/__swaps__/screens/Swap/components/SwapOutputAsset.tsx
Owners: none

fix icon sizing (#5771)
  src/__swaps__/screens/Swap/components/SwapInputAsset.tsx
  src/__swaps__/screens/Swap/components/SwapOutputAsset.tsx
Owners: none

remove boundary for buy list
  src/__swaps__/screens/Swap/components/TokenList/TokenToBuySection.tsx
Owners: none

fix
  src/App.js
  src/__swaps__/screens/Swap/Swap.tsx
  src/__swaps__/screens/Swap/components/CleanupAssetsOnUnmount.tsx
  src/__swaps__/screens/Swap/components/ReviewPanel.tsx
  src/__swaps__/screens/Swap/components/SwapInputAsset.tsx
  src/__swaps__/screens/Swap/components/SwapNumberPad.tsx
  src/__swaps__/screens/Swap/components/SwapOutputAsset.tsx
  src/__swaps__/screens/Swap/components/SwapSlider.tsx
  src/__swaps__/screens/Swap/hooks/useCleanupOnExit.ts
  src/__swaps__/screens/Swap/hooks/usePrefillAssets.ts
  src/__swaps__/screens/Swap/hooks/useSwapNavigation.ts
  src/__swaps__/screens/Swap/hooks/useSwapTextStyles.ts
  src/__swaps__/screens/Swap/hooks/useSwapWarning.ts
  src/__swaps__/screens/Swap/providers/swap-provider.tsx
  src/__swaps__/types/swap.ts
  src/__swaps__/utils/prefillAssets.ts
  src/components/asset-list/RecyclerAssetList2/profile-header/ProfileActionButtonsRow.tsx
Owners: @walmat, @benisgold, @jinchung

fix output asset not being reset
  src/__swaps__/screens/Swap/hooks/useCleanupOnExit.ts
  src/__swaps__/screens/Swap/providers/swap-provider.tsx
Owners: none

cleanup
  src/__swaps__/screens/Swap/providers/swap-provider.tsx
Owners: none

add more resets
  src/__swaps__/screens/Swap/hooks/useCleanupOnExit.ts
Owners: none

CODEOWNERS:

# Rainbow CODEOWNERS file
CODEOWNERS  @walmat @benisgold @jinchung
LICENSE @jinchung @brunobar79 @nickbytes @estebanmino
README.md @nickbytes  @walmat @benisgold @jinchung
app.json  @walmat @benisgold @jinchung

# ANDROID
android/

# IOS
ios/ @walmat @benisgold 

# SECURITY / APP INFRA
patches/ @walmat @benisgold
scripts/

# DESIGN SYSTEM
src/design-system @walmat @benisgold

# Handlers
src/handlers/aesEncryption.ts @jinchung
src/handlers/authentication.ts @jinchung
src/handlers/cloudBackup.ts @jinchung

# Model
src/model/backup.ts  @jinchung
src/model/keychain.ts  @jinchung
src/model/migrations.ts  @walmat @benisgold @jinchung
src/model/wallet.ts  @jinchung

# redux
src/redux/gas.ts @walmat @benisgold @jinchung

# navigation
src/navigation @walmat @benisgold

# analytics & logging
src/analytics @walmat @benisgold

# APP INFRA
package.json  @walmat @benisgold @jinchung
.eslintignore  @walmat @benisgold @jinchung
.eslintrc.js  @walmat @benisgold @jinchung
.gitattributes  @walmat @benisgold @jinchung
.gitignore  @walmat @benisgold @jinchung
.nvmrc  @walmat @benisgold @jinchung
.prettierrc.js  @walmat @benisgold @jinchung
.yarnrc @walmat @benisgold @jinchung
audit-ci.json  @walmat @benisgold @jinchung
babel.config.js 
globals.d.ts @walmat @benisgold
yarn.lock  @walmat @benisgold @jinchung
tsconfig.json  @walmat @benisgold @jinchung
hardhat.config.js  @jinchung

# APP INFRA
globalVariables.js @walmat @benisgold
shim.js  
index.js  @walmat @benisgold
src/App.js  @walmat @benisgold @jinchung

# SECURITY / APP INFRA
metro.config.js @walmat @benisgold 
metro.transform.js @walmat @benisgold 
react-native.config.js  @walmat @benisgold

# DAPP BROWSER
src/browser @brunobar79 @benisgold
src/screens/dapp-browser @brunobar79 @benisgold
src/components/DappBrowser @brunobar79 @benisgold
