Repository rainbow-me/rainbow, changes with the owners that CODEOWNERS names for each.
All owners: @salman-rb, @estrattonbailey, @skylarbarrera, @jinchung, @brunobar79, @nickbytes, @estebanmino, @jkadamczyk, @benisgold, @jxom, @derHowie

CODEOWNERS:

# Rainbow CODEOWNERS file
CODEOWNERS @salman-rb @estrattonbailey @skylarbarrera @jinchung
LICENSE @jinchung @brunobar79 @nickbytes @estebanmino
README.md @nickbytes @salman-rb @estrattonbailey @skylarbarrera @jinchung
app.json @salman-rb @estrattonbailey @skylarbarrera @jinchung

# ANDROID
android/ @brunobar79 @jkadamczyk @skylarbarrera

# IOS
ios/ @brunobar79 @benisgold @salman-rb @skylarbarrera

# SECURITY / APP INFRA
patches/ @brunobar79 @estrattonbailey @skylarbarrera
scripts/ @brunobar79 @jkadamczyk @skylarbarrera

# DESIGN SYSTEM
src/design-system @jxom @estrattonbailey

# Handlers
src/handlers/aesEncryption.ts @brunobar79 @estebanmino @jinchung
src/handlers/authentication.ts @brunobar79 @estebanmino @jinchung
src/handlers/cloudBackup.ts @brunobar79 @skylarbarrera @estebanmino @jkadamczyk @jinchung
src/handlers/fedora.ts @estebanmino @brunobar79

# Model
src/model/backup.ts @brunobar79 @estebanmino @salman-rb @jkadamczyk @jinchung
src/model/keychain.ts @brunobar79 @estebanmino @salman-rb @estrattonbailey @skylarbarrera @jinchung
src/model/migrations.ts @brunobar79 @estebanmino @salman-rb @estrattonbailey @skylarbarrera @jinchung
src/model/wallet.ts @brunobar79 @estebanmino @salman-rb @estrattonbailey @skylarbarrera @jinchung

# redux
src/redux/gas.ts @estebanmino @skylarbarrera @estrattonbailey @jinchung
src/redux/nonceManager.ts @derHowie @skylarbarrera @estrattonbailey @jinchung

# navigation
src/navigation @jkadamczyk @skylarbarrera @estrattonbailey

# analytics & logging
src/analytics @estrattonbailey @skylarbarrera

# APP INFRA
package.json @salman-rb @skylarbarrera @estrattonbailey @jinchung
.eslintignore @salman-rb @estrattonbailey @skylarbarrera @jinchung
.eslintrc.js @salman-rb @estrattonbailey @skylarbarrera @jinchung
.gitattributes @brunobar79 @salman-rb @estrattonbailey @skylarbarrera @jinchung
.gitignore @salman-rb @estrattonbailey @skylarbarrera @jinchung
.nvmrc @salman-rb @estrattonbailey @skylarbarrera @jinchung
.prettierrc.js @salman-rb @estrattonbailey @skylarbarrera @jinchung
.yarnrc @estrattonbailey @skylarbarrera @jinchung
audit-ci.json @brunobar79 @salman-rb @skylarbarrera @estebanmino @estrattonbailey @jinchung
babel.config.js @estrattonbailey @jkadamczyk @skylarbarrera
globals.d.ts @estrattonbailey @skylarbarrera
yarn.lock @salman-rb @estrattonbailey @skylarbarrera @jinchung
tsconfig.json @salman-rb @estrattonbailey @skylarbarrera @jinchung
hardhat.config.js @salman-rb @skylarbarrera @jinchung

# APP INFRA
globalVariables.js @estrattonbailey @skylarbarrera
shim.js @brunobar79 @salman-rb @estrattonbailey @skylarbarrera @jkadamczyk
index.js @salman-rb @estrattonbailey @jkadamczyk @skylarbarrera
src/App.js @salman-rb @estrattonbailey @skylarbarrera @jinchung

# SECURITY / APP INFRA
metro.config.js @skylarbarrera @estrattonbailey @jkadamczyk @brunobar79 
metro.transform.js @skylarbarrera @estrattonbailey @jkadamczyk @brunobar79 
react-native.config.js @salman-rb @skylarbarrera @jkadamczyk @estrattonbailey

remove leftover file
  src/screens/ImportSeedPhraseSheet.tsx
Owners: none

fix translations
  src/languages/_english.json
  src/languages/_french.json
Owners: none

fix typo in prop
  src/screens/transaction-details/TransactionDetails.tsx
Owners: none

add address row context menu items
  ios/Rainbow.xcodeproj/project.pbxproj
  src/screens/transaction-details/TransactionDetails.tsx
  src/screens/transaction-details/components/TransactionDetailsAddressRow.tsx
  src/screens/transaction-details/components/TransactionDetailsStatusActionsAndTimestampSection.tsx
Owners: @brunobar79, @benisgold, @salman-rb, @skylarbarrera

remove completely transparent and use what we have
  src/screens/transaction-details/helpers/getIconColorAndGradientForTransactionStatus.ts
  src/styles/colors.ts
Owners: none

fix regression with ENS fetch animation
  src/screens/transaction-details/components/TransactionDetailsAddressRow.tsx
  src/screens/transaction-details/components/TransactionDetailsFromToSection.tsx
Owners: none

implement header with gradients but without any interactions
  src/screens/transaction-details/TransactionDetails.tsx
  src/screens/transaction-details/components/TransactionDetailsStatusActionsAndTimestampSection.tsx
  src/screens/transaction-details/helpers/formatTransactionDetailsDate.ts
  src/screens/transaction-details/helpers/getIconColorAndGradientForTransactionStatus.ts
  src/styles/colors.ts
Owners: none

add experimental flag and a context menu preparation for pending transactions
  src/config/experimental.ts
  src/handlers/transactions.ts
  src/screens/transaction-details/TransactionDetails.tsx
  src/screens/transaction-details/components/TransactionDetailsStatusActionsAndTimestampSection.tsx
Owners: none

create component file and add entry to main screen component
  src/screens/transaction-details/TransactionDetails.tsx
  src/screens/transaction-details/components/TransactionDetailsStatusActionsAndTimestampSection.tsx
Owners: none

add retry swap button
  src/languages/_english.json
  src/languages/_french.json
  src/screens/transaction-details/TransactionDetails.tsx
  src/screens/transaction-details/components/TransactionDetailsHashAndActionsSection.tsx
Owners: none

fix coin icon and add comment about L2
  src/screens/transaction-details/TransactionDetails.tsx
Owners: none

add speed up and cancel options
  src/screens/transaction-details/TransactionDetails.tsx
Owners: none

fix colors
  src/styles/colors.ts
Owners: none

clean up the code, self review
  src/screens/transaction-details/TransactionDetails.tsx
  src/screens/transaction-details/components/TransactionDetailsFromToSection.tsx
  src/screens/transaction-details/components/TransactionDetailsHashAndActionsSection.tsx
  src/screens/transaction-details/components/TransactionDetailsStatusActionsAndTimestampSection.tsx
  src/screens/transaction-details/components/TransactionDetailsValueAndFeeSection.tsx
  src/screens/transaction-details/hooks/useTransactionDetailsToasts.ts
Owners: none

mark code cleanup sections
  src/handlers/transactions.ts
Owners: none

do not show fee and value row if they do not exist
  src/screens/transaction-details/components/TransactionDetailsValueAndFeeSection.tsx
Owners: none

fix speed up cancel and send context menu options
  src/screens/transaction-details/TransactionDetails.tsx
  src/screens/transaction-details/components/TransactionDetailsAddressRow.tsx
  src/screens/transaction-details/components/TransactionDetailsStatusActionsAndTimestampSection.tsx
Owners: none

fix haptics
  src/screens/transaction-details/components/TransactionDetailsAddressRow.tsx
  src/screens/transaction-details/components/TransactionDetailsStatusActionsAndTimestampSection.tsx
Owners: none

fix sheet color to the elevetad color
  src/screens/transaction-details/TransactionDetails.tsx
Owners: none

clean code and remove custom address formatting
  src/screens/transaction-details/TransactionDetails.tsx
  src/screens/transaction-details/components/TransactionDetailsAddressRow.tsx
Owners: none

fix translations
  src/languages/_english.json
  src/languages/_french.json
Owners: none

do not include ptoject pbxproj changes
  ios/Rainbow.xcodeproj/project.pbxproj
Owners: @brunobar79, @benisgold, @salman-rb, @skylarbarrera

Implement Tx Details From/To rows (#4485)
  src/components/contacts/ImageAvatar.js
  src/components/settings-menu/TransactionDetailsPlayground.tsx
  src/components/toasts/Toast.tsx
  src/design-system/components/Text/Text.tsx
  src/hooks/useUserAccounts.ts
  src/hooks/useWalletBalances.ts
  src/languages/_english.json
  src/languages/_french.json
  src/navigation/Routes.android.js
  src/screens/SendConfirmationSheet.tsx
  src/screens/transaction-details/TransactionDetails.tsx
  src/screens/transaction-details/components/DoubleLineTransactionDetailsRow.tsx
  src/screens/transaction-details/components/TransactionDetailsAddressRow.tsx
  src/screens/transaction-details/components/TransactionDetailsFromToSection.tsx
  src/screens/transaction-details/components/TransactionDetailsHashAndActionsSection.tsx
  src/screens/transaction-details/components/TransactionDetailsValueAndFeeSection.tsx
Owners: @jxom, @estrattonbailey, @jkadamczyk, @skylarbarrera

Transaction Details Header (#4490)
  src/config/experimental.ts
  src/handlers/transactions.ts
  src/languages/_english.json
  src/languages/_french.json
  src/screens/transaction-details/TransactionDetails.tsx
  src/screens/transaction-details/components/TransactionDetailsAddressRow.tsx
  src/screens/transaction-details/components/TransactionDetailsFromToSection.tsx
  src/screens/transaction-details/components/TransactionDetailsHashAndActionsSection.tsx
  src/screens/transaction-details/components/TransactionDetailsStatusActionsAndTimestampSection.tsx
  src/screens/transaction-details/components/TransactionDetailsValueAndFeeSection.tsx
  src/screens/transaction-details/helpers/formatTransactionDetailsDate.ts
  src/screens/transaction-details/helpers/getIconColorAndGradientForTransactionStatus.ts
  src/screens/transaction-details/hooks/useTransactionDetailsToasts.ts
  src/styles/colors.ts
Owners: none

fix: imports
  src/screens/ConnectedDappsSheet.js
Owners: none

ledger: wallet types + derivation helper (#4480)
  ios/Podfile
  ios/Podfile.lock
  package.json
  patches/@ledgerhq+react-native-hw-transport-ble+6.27.7.patch
  src/helpers/signingWallet.ts
  src/helpers/walletTypes.ts
  src/hooks/useImportingWallet.ts
  src/model/wallet.ts
  src/screens/WalletDiagnosticsSheet.js
  src/utils/ethereumUtils.ts
  src/utils/wallet.ts
  yarn.lock
Owners: @brunobar79, @benisgold, @salman-rb, @skylarbarrera, @estrattonbailey, @jinchung, @estebanmino

chore: use signer where applicable (#4450)
  package.json
  src/helpers/ens.ts
  src/raps/actions/crosschainSwap.ts
  src/raps/actions/depositCompound.ts
  src/raps/actions/ens.ts
  src/raps/actions/swap.ts
  src/raps/actions/unlock.ts
  src/raps/actions/withdrawCompound.ts
  src/raps/common.ts
  src/screens/ExchangeModal.tsx
  yarn.lock
Owners: @salman-rb, @skylarbarrera, @estrattonbailey, @jinchung

init ledger signer
  src/handlers/LedgerSigner.ts
Owners: none

chore: use signer where applicable (#4450)
  package.json
  src/helpers/ens.ts
  src/raps/actions/crosschainSwap.ts
  src/raps/actions/depositCompound.ts
  src/raps/actions/ens.ts
  src/raps/actions/swap.ts
  src/raps/actions/unlock.ts
  src/raps/actions/withdrawCompound.ts
  src/raps/common.ts
  src/screens/ExchangeModal.tsx
  yarn.lock
Owners: @salman-rb, @skylarbarrera, @estrattonbailey, @jinchung

tmp
  .env.swp
  ios/Podfile.lock
  ios/Rainbow.xcodeproj/project.pbxproj
  src/components/buttons/hold-to-authorize/HoldToAuthorizeButtonContent.tsx
  src/components/buttons/hold-to-authorize/types/HoldToAuthorizeBaseProps.ts
  src/graphql/__generated__/metadata.ts
  src/graphql/__generated__/uniswap.ts
  src/handlers/simplehash.ts
  src/hooks/useImportingWallet.ts
  src/hooks/useLedgerConnect.ts
  src/languages/_english.json
  src/languages/_french.json
  src/model/wallet.ts
  src/navigation/Routes.android.js
  src/navigation/Routes.ios.js
  src/navigation/routesNames.js
  src/parsers/uniqueTokens.ts
  src/screens/HardwareWalletConfirmSheet.js
  src/screens/HardwareWalletSheet.js
  src/screens/SendConfirmationSheet.tsx
  src/utils/ethereumUtils.ts
  yarn.lock
Owners: @brunobar79, @benisgold, @salman-rb, @skylarbarrera, @estebanmino, @estrattonbailey, @jinchung, @jkadamczyk

add ledger prop + handling
  src/components/buttons/hold-to-authorize/HoldToAuthorizeButtonContent.tsx
  src/components/buttons/hold-to-authorize/types/HoldToAuthorizeBaseProps.ts
Owners: none

i18n
  src/languages/_english.json
  src/languages/_french.json
Owners: none

fix imports
  src/components/buttons/hold-to-authorize/HoldToAuthorizeButtonContent.tsx
Owners: none

replace 'restore-sheet' with 'add-wallet-sheet' in e2e
  e2e/deeplinks.spec.js
  e2e/discoverSheetFlow.spec.js
  e2e/hardhatTransactionFlowSendAndWC.spec.js
  e2e/hardhatTransactionFlowSwaps.spec.js
  e2e/homeScreen.spec.js
  e2e/importPrivateKeyFlow.spec.js
  e2e/importPrivateKeyFlow0x.spec.js
  e2e/registerENSFlow.spec.js
  e2e/sendSheetFlow.spec.js
  e2e/sendSheetFlowContacts.spec.js
  e2e/swapSheetFlow1.spec.js
  e2e/swapSheetFlow2.spec.js
  e2e/watchAddressFlow.spec.js
Owners: none
